Wally Daily Activity/wally-daily-activity.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -660,
        20
      ],
      "id": "1909ccc6-14de-4e61-8a1c-70f0a044f400",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM axia_activity \nWHERE report_date >= NOW() - INTERVAL 28 HOUR;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -440,
        20
      ],
      "id": "817ec821-e35c-4eb0-95f4-251e2c46a5c7",
      "name": "MySQL",
      "credentials": {
        "mySql": {
          "id": "OUIfR0k9k0YXHa0V",
          "name": "Blazedata Hostinger"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.all().map(item => item.json);\n\n// If there are no records, return a message instead\nif (data.length === 0) {\n    return [{ html: \"<p>No recent activity in the past 28 hours.</p>\" }];\n}\n\n// Define table headers\nlet htmlTable = `\n<table border=\"1\" cellpadding=\"5\" cellspacing=\"0\" style=\"border-collapse: collapse; width: 100%;\">\n  <thead>\n    <tr>\n      <th>Property</th>\n      <th>Current Occupancy</th>\n      <th>Future Occupancy</th>\n      <th>Leases Needed 90%</th>\n      <th>Interests</th>\n      <th>Showings</th>\n      <th>Applications</th>\n      <th>Leases</th>\n      <th>Vacants</th>\n      <th>Expirations</th>\n      <th>Future Move-Ins</th>\n      <th>On Notice</th>\n    </tr>\n  </thead>\n  <tbody>`;\n\n// Loop through the data and populate the rows\ndata.forEach(row => {\n    htmlTable += `\n    <tr>\n      <td>${row.property}</td>\n      <td>${row.current_occupancy}%</td>\n      <td>${row.future_occupancy}%</td>\n      <td>${row.leases_needed_90}</td>\n      <td>${row.interests}</td>\n      <td>${row.showings}</td>\n      <td>${row.applications}</td>\n      <td>${row.leases}</td>\n      <td>${row.vacants}</td>\n      <td>${row.expirations}</td>\n      <td>${row.future_move_ins}</td>\n      <td>${row.on_notice}</td>\n    </tr>`;\n});\n\nhtmlTable += `</tbody></table>`;\n\n// Return formatted table\nreturn [{ html: htmlTable }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -220,
        20
      ],
      "id": "4a018bfe-541e-4f96-a9dd-94229cac252c",
      "name": "Code"
    },
    {
      "parameters": {
        "fromEmail": "reports@blzres.com",
        "toEmail": "brandon@blazeproperty.com",
        "subject": "Axia Daily",
        "html": "={{ $json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        0,
        20
      ],
      "id": "6ea71680-8087-4fc5-9bcc-43b063105f35",
      "name": "Send Email",
      "credentials": {
        "smtp": {
          "id": "CT7TQcD1DuyTHPFu",
          "name": "SMTP account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "MySQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {}
}