workflows/Move-Out and Evictions/Move-Out and Evictions.json
{
  "active": false,
  "connections": {
    "Email Trigger (IMAP)": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monday.com": {
      "main": [
        []
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Monday.com",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-25T22:49:56.406Z",
  "id": "HQKxB5jriXE6ytQa",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Move-Out and Evictions",
  "nodes": [
    {
      "parameters": {
        "postProcessAction": "nothing",
        "downloadAttachments": true,
        "options": {
          "customEmailConfig": "[\"UNSEEN\", [\"SUBJECT\", \"Tenant Status Export\"]]"
        }
      },
      "id": "110f5058-0810-45a1-bd29-51990b76c65c",
      "name": "Email Trigger (IMAP)",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [
        -1100,
        -80
      ],
      "credentials": {
        "imap": {
          "id": "rQhepyx6Tzc3cAyi",
          "name": "MIgadu blzres.net"
        }
      }
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "attachment_0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -940,
        -80
      ],
      "id": "9cd121f1-2421-49fa-b709-b8608cbd95c6",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "const records = $input.all(); // Get all records from previous node\n\n// Function to format phone numbers\nfunction formatPhoneNumber(phone) {\n    if (!phone) return \"\";\n    let cleaned = phone.replace(/[^0-9]/g, \"\"); // Remove non-numeric characters\n    if (cleaned.length === 10) return `(${cleaned.slice(0,3)}) ${cleaned.slice(3,6)}-${cleaned.slice(6)}`;\n    if (cleaned.length === 11 && cleaned.startsWith(\"1\")) return `+1 (${cleaned.slice(1,4)}) ${cleaned.slice(4,7)}-${cleaned.slice(7)}`;\n    return cleaned; // Return cleaned if it's not a standard 10/11-digit US number\n}\n\n// Function to convert Excel date codes to MM/DD/YYYY format\nfunction excelDateToMMDDYYYY(serial) {\n    if (!serial || isNaN(serial)) return \"\";\n    const excelEpoch = new Date(1899, 11, 30); // Excel date epoch\n    const date = new Date(excelEpoch.getTime() + serial * 86400000); // Convert serial to date\n    return `${String(date.getMonth() + 1).padStart(2, '0')}/${String(date.getDate()).padStart(2, '0')}/${date.getFullYear()}`;\n}\n\n// Function to keep only the first email in the \"Emails\" field\nfunction getFirstEmail(emailField) {\n    if (!emailField) return \"\";\n    const emails = emailField.split(/[,;\\s]+/); // Split by commas, semicolons, or spaces\n    return emails.length > 0 ? emails[0].trim() : \"\";\n}\n\n// Process records\nconst formattedRecords = records\n    .map(record => record.json) // Extract JSON from input\n    .filter(record => record[\"Tenant Type\"] === \"Financially Responsible\") // Filter Tenant Type\n    .map(record => ({\n        ...record,\n        \"Phone Numbers\": formatPhoneNumber(record[\"Phone Numbers\"]), // Format phone numbers\n        \"Lease To\": excelDateToMMDDYYYY(record[\"Lease To\"]), // Convert Lease To date\n        \"Move-in\": excelDateToMMDDYYYY(record[\"Move-in\"]), // Convert Move-in date\n        \"Move-out\": excelDateToMMDDYYYY(record[\"Move-out\"]), // Convert Move-in date\n        \"Emails\": getFirstEmail(record[\"Emails\"]) // Keep only the first email\n    }));\n\nreturn formattedRecords.map(json => ({ json }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -760,
        -80
      ],
      "id": "43da9b81-797f-4c3e-a8f5-03c50d4347b2",
      "name": "Code"
    },
    {
      "parameters": {
        "content": "## Move-Out and Eviction Flow to Monday\n\nWorkflow pulls new emailed report from reports@blzres.net extracts and formats data. \n\nTodo:\n\nadd a monday.com node to update records with new data based on Tenant ID field. \n",
        "height": 460,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        100,
        -360
      ],
      "id": "42609fdb-34a8-4b49-b10e-4b5d88bcdf92",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "const records = $input.all(); // Get all records from previous node\n\n// Function to format dates to YYYY-MM-DD\nfunction formatMoveOutDate(date) {\n    if (!date) return null;\n    return date.includes(\"/\") ? date : new Date(date).toISOString().split(\"T\")[0]; \n}\n\n// Process only records with a valid Move-out date\nconst formattedRecords = records\n    .map(record => record.json)\n    .filter(record => record[\"Move-out\"]) // Keep only records with a Move-out date\n    .map(record => {\n        // Ensure First Name and Last Name are not undefined\n        const firstName = record[\"First Name\"] ? record[\"First Name\"].trim() : \"\";\n        const lastName = record[\"Last Name\"] ? record[\"Last Name\"].trim() : \"\";\n        const residentName = `${firstName} ${lastName}`.trim();\n\n        // Ensure Property Name is not undefined\n        const propertyName = record[\"Property Name\"] || \"\";\n\n        // Format Move-out date correctly\n        const moveOutFormatted = formatMoveOutDate(record[\"Move-out\"]);\n\n        // Create a valid JSON object (DO NOT STRINGIFY)\n        const columnValuesObject = {\n            \"status\": { \"index\": 0 }, // Default status\n            \"date4\": { \"date\": moveOutFormatted }, // Move-out Date\n            \"text_mknfm8c8\": propertyName, // Property Name\n            \"text_mknfdxg0\": residentName, // Resident Name\n            \"boolean_mknfa9m0\": { \"checked\": false }, // eReturn\n            \"text_mknf4476\": record[\"Tenant Street Address 1\"] ? \n                `${record[\"Tenant Street Address 1\"]}, ${record[\"Tenant City\"]}, ${record[\"Tenant State\"]} ${record[\"Tenant Zip\"]}`.trim() : null, // Full Address\n            \"text_mknfkj1x\": record[\"Forwarding Address\"] || null, // Forwarding Address\n            \"text_mknfsn9v\": record[\"Move-out Reason\"] || null // Move-out Reason\n        };\n\n        return {\n            json: {\n                itemName: `${propertyName} - ${residentName}`.trim(),\n                columnValues: columnValuesObject // ✅ DO NOT STRINGIFY - Must remain an object!\n            }\n        };\n    });\n\nreturn formattedRecords;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -580,
        -80
      ],
      "id": "987d08ca-31ad-4961-bd24-2b1fc8f6bc57",
      "name": "Code1"
    },
    {
      "parameters": {
        "resource": "boardItem",
        "boardId": "8550223917",
        "groupId": "topics",
        "name": "={{ $json.itemName }}",
        "additionalFields": {
          "columnValues": "={{ $json.columnValues }}\n"
        }
      },
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        -100,
        -80
      ],
      "id": "6cd549e2-9a2d-4fd0-82f3-2b5eec0a8341",
      "name": "Monday.com",
      "alwaysOutputData": true,
      "credentials": {
        "mondayComApi": {
          "id": "3npySVgJSrX7b9Wu",
          "name": "Monday.com account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4aab0d44-fbce-4381-a4c6-4e71ee38f9b0",
              "name": "itemName",
              "value": "={{ $json.itemName }}",
              "type": "string"
            },
            {
              "id": "350412bc-3e77-4c64-bae4-51d8dae2ad16",
              "name": "columnValues",
              "value": "={{ $json.columnValues }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -360,
        -80
      ],
      "id": "ac1ac4fe-1fb7-4a80-8f5c-777f8f989b11",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-02-27T13:35:22.000Z",
  "versionId": "003760f7-de40-4986-a2a0-f47e75f754b5"
}