workflows/Axia Activity Capture.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "MySQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL": {
      "main": [
        [
          {
            "node": "MySQL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-01T14:30:53.381Z",
  "id": "48AK5rj07sSFcGQE",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Axia Activity Capture",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ed026e4e-eed1-41c2-bfe3-4cb1de2e7074",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2300,
        -280
      ],
      "id": "e42982f9-3375-4d6c-b133-77dddd1825a6",
      "name": "Webhook",
      "webhookId": "ed026e4e-eed1-41c2-bfe3-4cb1de2e7074"
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "axia_activity",
          "mode": "list",
          "cachedResultName": "axia_activity"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "property",
              "value": "={{ $json.body[\"[property]\"] }}"
            },
            {
              "column": "current_occupancy",
              "value": "={{ $json.body[\"[current_occ]\"] }}"
            },
            {
              "column": "future_occupancy",
              "value": "={{ $json.body[\"[future_occ]\"] }}"
            },
            {
              "column": "leases_needed_90",
              "value": "={{ $json.body[\"[leases_needed]\"] }}"
            },
            {
              "column": "interests",
              "value": "={{ $json.body[\"[interests]\"] }}"
            },
            {
              "column": "showings",
              "value": "={{ $json.body[\"[showings]\"] }}"
            },
            {
              "column": "applications",
              "value": "={{ $json.body[\"[apps]\"] }}"
            },
            {
              "column": "leases",
              "value": "={{ $json.body[\"[leases]\"] }}"
            },
            {
              "column": "vacants",
              "value": "={{ $json.body[\"[vacants]\"] }}"
            },
            {
              "column": "expirations",
              "value": "={{ $json.body[\"[expirations]\"] }}"
            },
            {
              "column": "future_move_ins",
              "value": "={{ $json.body[\"[future_moveins]\"] }}"
            },
            {
              "column": "on_notice",
              "value": "={{ $json.body[\"[notice]\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -1900,
        -280
      ],
      "id": "8e5ac130-eb90-46dc-adf3-7ef70c2582d0",
      "name": "MySQL",
      "credentials": {
        "mySql": {
          "id": "OUIfR0k9k0YXHa0V",
          "name": "Blazedata Hostinger"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM axia_activity \nWHERE report_date < NOW() - INTERVAL 30 DAY;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -1660,
        -280
      ],
      "id": "7f610fca-2d8a-4159-b0eb-24204915da25",
      "name": "MySQL1",
      "credentials": {
        "mySql": {
          "id": "OUIfR0k9k0YXHa0V",
          "name": "Blazedata Hostinger"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.blzres.com",
            "user-agent": "WordPress/6.7.1; https://blzres.com",
            "content-length": "367",
            "accept": "*/*",
            "accept-encoding": "deflate, gzip, br",
            "content-type": "application/json; charset=UTF-8",
            "x-forwarded-for": "77.37.94.145",
            "x-forwarded-host": "n8n.blzres.com",
            "x-forwarded-proto": "https"
          },
          "params": {},
          "query": {},
          "body": {
            "[property]": "NorthPark",
            "[current_occ]": "90",
            "[future_occ]": "90",
            "[leases_needed]": "90",
            "[interests]": "10",
            "[showings]": "8",
            "[apps]": "7",
            "[leases]": "6",
            "[vacants]": "5",
            "[expirations]": "4",
            "[future_moveins]": "3",
            "[notice]": "2",
            "[created-at]": "02/01/2025 at 10:07 pm",
            "[298]": "https://blzres.com/wp-content/uploads/formidable/26/Region-1-Vacancy-Detail.pdf"
          },
          "webhookUrl": "https://n8n.blzres.com/webhook-test/ed026e4e-eed1-41c2-bfe3-4cb1de2e7074",
          "executionMode": "test"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "Etm1h3dHXQYzby5C"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-02-02T06:00:38.355Z",
  "versionId": "cb00fc8e-5d19-44cf-9f5c-ba1b92e1eb3f"
}