workflows/Daily Selling Tips Wordpress.json
{
  "active": true,
  "connections": {
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post on Wordpress": {
      "main": [
        [
          {
            "node": "Generate featured image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload media": {
      "main": [
        [
          {
            "node": "Wordpress Add Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wordpress Add Image": {
      "main": [
        [
          {
            "node": "Wordpress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate featured image": {
      "main": [
        [
          {
            "node": "Upload media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Post on Wordpress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-07-14T15:43:27.594Z",
  "id": "HM2rt2etJ8SOScL9",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Daily Selling Tips Wordpress",
  "nodes": [
    {
      "parameters": {
        "content": "## Featured image",
        "height": 387.12002573466816,
        "width": 557.7592769264069,
        "color": 3
      },
      "id": "4aab39d7-2e3c-435c-adb4-109c3b5c9c70",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1100,
        1480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "The image is generated with Dall-E, uploaded to WordPress, and then connected to the post as its featured image",
        "height": 80,
        "width": 517.9195082760601,
        "color": 7
      },
      "id": "fb51cdf6-f26c-49ed-a802-e0c791dc46b1",
      "name": "Sticky Note12",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1120,
        1540
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 1
            }
          ]
        }
      },
      "id": "50a60ea9-0d62-4bab-91ba-1de98510b209",
      "name": "Schedule Trigger1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        460,
        1620
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "postId": "={{ $json.id }}",
        "updateFields": {
          "status": "publish",
          "categories": [
            41,
            42
          ]
        }
      },
      "id": "08d91b23-fbc9-4fd7-ab11-9fe91aeebead",
      "name": "Wordpress",
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        1540,
        1620
      ],
      "credentials": {
        "wordpressApi": {
          "id": "VXzYYztQ5s3nKwus",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "title": "=Daily Facebook Tip for Renters",
        "additionalFields": {
          "content": "={{ $json.output }}",
          "status": "draft"
        }
      },
      "id": "0b568c74-c42f-437e-b7fe-f1c123d83dec",
      "name": "Post on Wordpress",
      "type": "n8n-nodes-base.wordpress",
      "position": [
        940,
        1620
      ],
      "typeVersion": 1,
      "credentials": {
        "wordpressApi": {
          "id": "VXzYYztQ5s3nKwus",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://blzres.com/wp-json/wp/v2/media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Disposition",
              "value": "=attachment; filename={{ $('Post on Wordpress').item.json.id }}.jpg"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "id": "5e5568a7-c1c1-4579-a93a-4b2bb73b3d92",
      "name": "Upload media",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1260,
        1620
      ],
      "typeVersion": 4.1,
      "credentials": {
        "wordpressApi": {
          "id": "VXzYYztQ5s3nKwus",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "postId": "={{ $('Post on Wordpress').item.json.id }}",
        "updateFields": {
          "content": "={{ $('Post on Wordpress').item.json.content.rendered }}<!-- wp:image {\"id\":{{ $('Upload media').item.json.id }},\"sizeSlug\":\"full\",\"linkDestination\":\"none\"} --><figure class=\"wp-block-image size-full\"><img src=\"{{ $('Upload media').item.json.guid.raw }}\" alt=\"\" class=\"wp-image-{{ $('Upload media').item.json.id }}\"/></figure><!-- /wp:image -->\""
        }
      },
      "id": "6e8d8363-8848-460f-9cc9-c37ea36b7e05",
      "name": "Wordpress Add Image",
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        1400,
        1620
      ],
      "credentials": {
        "wordpressApi": {
          "id": "VXzYYztQ5s3nKwus",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "=Generate an image that compliments the following rental tip: {{ $('OpenAI1').item.json.output }}. The image should not contain any text.",
        "options": {
          "quality": "standard",
          "size": "1024x1024",
          "style": "vivid"
        }
      },
      "id": "2fef794c-8d5c-44f0-8818-01655660fa1e",
      "name": "Generate featured image",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        1120,
        1620
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "Navm9hDUnjwpRcbB",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "assistant",
        "assistantId": {
          "__rl": true,
          "value": "asst_S6EJ4Zp1VbK9JDTyBUhNt62B",
          "mode": "list",
          "cachedResultName": "blazebackend"
        },
        "prompt": "define",
        "text": "Provide a daily home rental tip for a Facebook post. The subjects can include but are not limited to decorating, lawncare, tenant responsibilities, safety etc. The tip should not include building modification and should not include a photo description. Emoticons and hashtags are encouraged.",
        "options": {}
      },
      "id": "8ba5ec33-3556-4083-afbf-a3bb36f6540c",
      "name": "OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.3,
      "position": [
        620,
        1620
      ],
      "credentials": {
        "openAiApi": {
          "id": "Navm9hDUnjwpRcbB",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v17.0",
        "node": "/page/329129493627618",
        "edge": "photo",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "message",
                "value": "={{ $('OpenAI1').item.json.output }}"
              },
              {}
            ]
          }
        }
      },
      "id": "08318254-47ca-4f74-85c6-1537c60598a1",
      "name": "Facebook Graph API",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1320,
        1880
      ],
      "credentials": {
        "facebookGraphApi": {
          "id": "a3LtRYzbJapkaeaV",
          "name": "Facebook Graph account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": []
    },
    "node:Schedule Trigger1": {
      "recurrencyRules": [],
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-07-19T10:44:15.000Z",
  "versionId": "9fb72f98-cdb6-40d4-98d0-436f69575bb0"
}