workflows/Daily Renting Tips Wordpress.json
{
  "active": true,
  "connections": {
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post on Wordpress": {
      "main": [
        [
          {
            "node": "Generate featured image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload media": {
      "main": [
        [
          {
            "node": "Wordpress Add Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wordpress Add Image": {
      "main": [
        [
          {
            "node": "Wordpress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Post on Wordpress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate featured image": {
      "main": [
        [
          {
            "node": "Upload media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-07-14T13:50:07.722Z",
  "id": "rY6JM7k1CIDIO6Iu",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Daily Renting Tips Wordpress",
  "nodes": [
    {
      "parameters": {
        "content": "## Featured image",
        "height": 387.12002573466816,
        "width": 557.7592769264069,
        "color": 3
      },
      "id": "3d090cc0-0cc4-40aa-96d4-6e8d287fcce7",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1100,
        1480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "The image is generated with Dall-E, uploaded to WordPress, and then connected to the post as its featured image",
        "height": 80,
        "width": 517.9195082760601,
        "color": 7
      },
      "id": "45d6bd6c-75c7-47e4-8fdd-8ebc9ed26dce",
      "name": "Sticky Note12",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1120,
        1540
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 1
            }
          ]
        }
      },
      "id": "8ea5e5c9-b038-47b9-8434-8866249a45e0",
      "name": "Schedule Trigger1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        460,
        1620
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "postId": "={{ $json.id }}",
        "updateFields": {
          "status": "publish",
          "categories": [
            41,
            42
          ]
        }
      },
      "id": "f1c46713-b953-4f0a-a73d-e3f08672b01b",
      "name": "Wordpress",
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        1540,
        1620
      ],
      "credentials": {
        "wordpressApi": {
          "id": "VXzYYztQ5s3nKwus",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "title": "=Daily Facebook Tip for Renters",
        "additionalFields": {
          "content": "={{ $json.output }}",
          "status": "draft"
        }
      },
      "id": "3911f0c3-7597-4b11-a811-662529740cb9",
      "name": "Post on Wordpress",
      "type": "n8n-nodes-base.wordpress",
      "position": [
        940,
        1620
      ],
      "typeVersion": 1,
      "credentials": {
        "wordpressApi": {
          "id": "VXzYYztQ5s3nKwus",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://blzres.com/wp-json/wp/v2/media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Disposition",
              "value": "=attachment; filename={{ $('Post on Wordpress').item.json.id }}.jpg"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "id": "20e69f00-5424-4a2a-a645-645073d27350",
      "name": "Upload media",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1260,
        1620
      ],
      "typeVersion": 4.1,
      "credentials": {
        "wordpressApi": {
          "id": "VXzYYztQ5s3nKwus",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "postId": "={{ $('Post on Wordpress').item.json.id }}",
        "updateFields": {
          "content": "={{ $('Post on Wordpress').item.json.content.rendered }}<!-- wp:image {\"id\":{{ $('Upload media').item.json.id }},\"sizeSlug\":\"full\",\"linkDestination\":\"none\"} --><figure class=\"wp-block-image size-full\"><img src=\"{{ $('Upload media').item.json.guid.raw }}\" alt=\"\" class=\"wp-image-{{ $('Upload media').item.json.id }}\"/></figure><!-- /wp:image -->\""
        }
      },
      "id": "5377e856-f804-4190-9ff0-ea163287f966",
      "name": "Wordpress Add Image",
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        1400,
        1620
      ],
      "credentials": {
        "wordpressApi": {
          "id": "VXzYYztQ5s3nKwus",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "resource": "assistant",
        "assistantId": {
          "__rl": true,
          "value": "asst_S6EJ4Zp1VbK9JDTyBUhNt62B",
          "mode": "list",
          "cachedResultName": "blazebackend"
        },
        "prompt": "define",
        "text": "Provide a daily home rental tip for a Facebook post. The subjects can include but are not limited to decorating, lawncare, tenant responsibilities, safety etc. The tip should not include building modification and should not include a photo description. Emoticons and hashtags are encouraged.",
        "options": {}
      },
      "id": "5cb5e240-2ed2-4535-8880-a6e0c9ef12f0",
      "name": "OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.3,
      "position": [
        620,
        1620
      ],
      "credentials": {
        "openAiApi": {
          "id": "Navm9hDUnjwpRcbB",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "=Generate an image that compliments the following rental tip: {{ $('OpenAI1').item.json.output }}. The image should not contain any text.",
        "options": {
          "quality": "standard",
          "size": "1024x1024",
          "style": "vivid"
        }
      },
      "id": "10fb23bc-34e7-467c-803a-1ef7f132cc28",
      "name": "Generate featured image",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        1120,
        1620
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "Navm9hDUnjwpRcbB",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": []
    },
    "node:Schedule Trigger1": {
      "recurrencyRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-07-14T15:43:04.000Z",
  "versionId": "82ec47cc-cdc6-4cb5-83e4-1deff81317c8"
}