workflows/Daily Renting Tips Wordpress copy copy.json
{
  "active": false,
  "connections": {
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "MySQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post on Wordpress": {
      "main": [
        [
          {
            "node": "Generate featured image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload media": {
      "main": [
        [
          {
            "node": "Wordpress Add Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wordpress Add Image": {
      "main": [
        [
          {
            "node": "Wordpress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Post on Wordpress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wordpress": {
      "main": [
        [
          {
            "node": "MySQL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate featured image": {
      "main": [
        [
          {
            "node": "Upload media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-01-11T15:54:12.245Z",
  "id": "kOBHwwvcEyJlfZZG",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Daily Renting Tips Wordpress copy copy",
  "nodes": [
    {
      "parameters": {
        "content": "## Featured image",
        "height": 387.12002573466816,
        "width": 557.7592769264069,
        "color": 3
      },
      "id": "786ce874-0527-4abf-8880-af8276ebb305",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1100,
        1480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "The image is generated with Dall-E, uploaded to WordPress, and then connected to the post as its featured image",
        "height": 80,
        "width": 517.9195082760601,
        "color": 7
      },
      "id": "c3cbf7c7-f6af-4009-9387-bc76d4acbbc0",
      "name": "Sticky Note12",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1120,
        1540
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 1
            }
          ]
        }
      },
      "id": "17838f57-1393-4342-b896-3c57d9a5bc46",
      "name": "Schedule Trigger1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        280,
        1620
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "postId": "={{ $json.id }}",
        "updateFields": {
          "status": "publish",
          "categories": [
            41,
            42
          ]
        }
      },
      "id": "8aa1a587-6fd7-4731-8714-093079fac208",
      "name": "Wordpress",
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        1540,
        1620
      ],
      "credentials": {
        "wordpressApi": {
          "id": "VXzYYztQ5s3nKwus",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "title": "=Daily Facebook Tip for Renters",
        "additionalFields": {
          "content": "={{ $json.message.content }}",
          "status": "draft"
        }
      },
      "id": "28d81d51-bbaa-4222-8317-822f9bef6980",
      "name": "Post on Wordpress",
      "type": "n8n-nodes-base.wordpress",
      "position": [
        940,
        1620
      ],
      "typeVersion": 1,
      "credentials": {
        "wordpressApi": {
          "id": "VXzYYztQ5s3nKwus",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://blzres.com/wp-json/wp/v2/media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Disposition",
              "value": "=attachment; filename={{ $('Post on Wordpress').item.json.id }}.jpg"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "id": "e1ee4bbf-abd3-4d94-9393-fe2ac4ffd542",
      "name": "Upload media",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1260,
        1620
      ],
      "typeVersion": 4.1,
      "credentials": {
        "wordpressApi": {
          "id": "VXzYYztQ5s3nKwus",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "postId": "={{ $('Post on Wordpress').item.json.id }}",
        "updateFields": {
          "content": "={{ $('Post on Wordpress').item.json.content.rendered }}<!-- wp:image {\"id\":{{ $('Upload media').item.json.id }},\"sizeSlug\":\"full\",\"linkDestination\":\"none\"} --><figure class=\"wp-block-image size-full\"><img src=\"{{ $('Upload media').item.json.guid.raw }}\" alt=\"\" class=\"wp-image-{{ $('Upload media').item.json.id }}\"/></figure><!-- /wp:image -->\""
        }
      },
      "id": "9aa6e5ac-40d1-4951-be8d-19fb831eb1e7",
      "name": "Wordpress Add Image",
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        1400,
        1620
      ],
      "credentials": {
        "wordpressApi": {
          "id": "VXzYYztQ5s3nKwus",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM apt_social_media_posts\nWHERE last_post_date IS NULL OR last_post_date <= CURDATE() - INTERVAL 90 DAY\nORDER BY last_post_date ASC\nLIMIT 1;",
        "options": {}
      },
      "id": "4fe8c8b6-9459-4c57-8f2f-39709f7011e8",
      "name": "MySQL",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        460,
        1620
      ],
      "credentials": {
        "mySql": {
          "id": "VyLDgRP2Ip7Kfq1V",
          "name": "n8nBlaze access to sellmyam_reporting"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a marketing guru for aa apartment community in Texas. Create a practical but engaging facebook post about the topic:  {{ $json.post }}"
            }
          ]
        },
        "options": {}
      },
      "id": "526719f1-e04a-4a45-a33d-128bd924cf09",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        600,
        1620
      ],
      "credentials": {
        "openAiApi": {
          "id": "Navm9hDUnjwpRcbB",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE apt_social_media_posts\nSET last_post_date = CURDATE(), post_count = post_count + 1\nWHERE number = {{ $node[\"MySQL\"].json[\"number\"] }};",
        "options": {}
      },
      "id": "15fe6b39-61bb-4ef9-912f-f7ae4f3b4342",
      "name": "MySQL1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1720,
        1620
      ],
      "credentials": {
        "mySql": {
          "id": "VyLDgRP2Ip7Kfq1V",
          "name": "n8nBlaze access to sellmyam_reporting"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "=You are a marketing guru for aa apartment community in Texas. Create a practical but engaging image about the topic below. Do not generate images with text of any kind:  {{ $('OpenAI').item.json.message.content }}",
        "options": {
          "quality": "standard",
          "size": "1024x1024",
          "style": "vivid"
        }
      },
      "id": "7a4c5211-e54c-4610-9931-958f5fbdc578",
      "name": "Generate featured image",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        1120,
        1620
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "Navm9hDUnjwpRcbB",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "Etm1h3dHXQYzby5C"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": []
    },
    "node:Schedule Trigger1": {
      "recurrencyRules": [],
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-01-11T15:54:12.245Z",
  "versionId": "a970597b-2a0d-4129-9d94-f32d3deb1309"
}