workflows/Facebook Tracking.json
{
  "active": false,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "FB_IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Graph API": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FB_IDs": {
      "main": [
        [
          {
            "node": "timecode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "timecode": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Facebook Graph API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-01-28T20:38:33.700Z",
  "id": "iFGNxVft9sbweVyR",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Facebook Tracking",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1000,
        -20
      ],
      "id": "b5fdad4c-ad4c-4bd5-80f0-d9d9f995ddfe",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "graphApiVersion": "v21.0",
        "node": "={{ $('FB_IDs').item.json.pages[0] }}",
        "edge": "=posts?fields=id,message,created_time&since={{ $node[\"timecode\"].json[\"past24Hours\"] }}&until={{ $node[\"timecode\"].json[\"now\"] }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -120,
        0
      ],
      "id": "0a00188f-32dc-491f-8108-cba087fdfe6a",
      "name": "Facebook Graph API",
      "credentials": {
        "facebookGraphApi": {
          "id": "a3LtRYzbJapkaeaV",
          "name": "Facebook Blaze Real Estate"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "reports@blzres.com",
        "toEmail": "brandon@blazeproperty.com",
        "subject": "=Sagebrush {{ $json.subject }}",
        "html": "={{ $json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        540,
        -20
      ],
      "id": "f2f7c30c-286f-4abf-8fd1-df13cdfac728",
      "name": "Send Email",
      "credentials": {
        "smtp": {
          "id": "CT7TQcD1DuyTHPFu",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get input data from the loop\nconst allPages = $input.all();\nlet emailSubject = \"Facebook Posts from All Managed Pages (Last 24 Hours)\";\nlet emailBody = \"\";\n\nlet postsFound = false;\n\nallPages.forEach(pageData => {\n    const pageId = pageData.json.page_id;\n    const posts = pageData.json.data || [];\n\n    if (posts.length > 0) {\n        postsFound = true;\n        emailBody += `📌 **Posts from Page ID:** ${pageId}\\n\\n`;\n        posts.forEach(post => {\n            emailBody += `📢 **Post ID**: ${post.id}\\n🕒 **Created Time**: ${post.created_time}\\n💬 **Message**: ${post.message}\\n\\n`;\n        });\n    }\n});\n\nif (!postsFound) {\n    emailBody = \"No new posts found for any of the managed Facebook pages in the last 24 hours.\";\n}\n\n// Return structured data for email node\nreturn [\n    {\n        json: {\n            subject: emailSubject,\n            body: emailBody\n        }\n    }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        340,
        -20
      ],
      "id": "4a69d51b-82b5-42e0-ad10-afde8125bb36",
      "name": "Code1"
    },
    {
      "parameters": {
        "jsCode": "return [\n    {\n        json: {\n            pages: [\n                \"254706074396737\",  // Sagebrush Apartments\n                \"109463078470822\",  // Paramount\n                \"106038902592798\"   // Cottonwood\n            ]\n        }\n    }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -780,
        -20
      ],
      "id": "2f1b836a-e7ff-4016-933d-bf9a1385ef44",
      "name": "FB_IDs"
    },
    {
      "parameters": {
        "jsCode": "const now = Math.floor(Date.now() / 1000); // Current Unix timestamp\nconst past24Hours = now - 86400; // 24 hours ago\n\nreturn [\n  {\n    json: {\n      now: now,\n      past24Hours: past24Hours\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        -20
      ],
      "id": "3bb59e8d-56db-4a9e-9677-28c435ee2fb3",
      "name": "timecode"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -340,
        -20
      ],
      "id": "01cc32bd-c3b7-43f0-88b8-7f4bfa116d11",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "data[0].message"
            },
            {
              "fieldToAggregate": "pages[0]"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        100,
        0
      ],
      "id": "6eaf3452-5709-483f-bcdd-94ffd918f987",
      "name": "Aggregate"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-29T17:13:13.000Z",
  "versionId": "17ccf87b-6d73-4c2f-aba0-240e7295cd5d"
}