workflows/Facebook Tokens.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Facebook Pages": {
      "main": [
        [
          {
            "node": "Format Facebook Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Facebook Data": {
      "main": [
        [
          {
            "node": "MySQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL": {
      "main": [
        []
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Get Facebook Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-08T16:59:39.212Z",
  "id": "nzNIjOvdjW1mdHRf",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Facebook Tokens",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -920,
        -40
      ],
      "id": "3d985392-ffc3-4b6d-8909-8ff1c007991b",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v20.0/me/accounts?access_token=EAAODZBoQvnEABO1UpZAPm9tfh1cVs5EqjkZANv6yiljQ4iYQXvH6xFpAZAryXZCSv9JnJgHiQvRj9hs01dLpfZBN1mMFO5ZAm88T56Kmfw7BTTxSTSoilZCyZBJbkgMISqaZB34y7twKmRVpZB950tc8ImGQ2rQ6k0iuGoB0IQQ8BqHZBzFwoPy2UkaRghfSwdyGNnp1i88BJ7gy1dR7EuS8ZBNfxPbUPgU5Maq0ZD",
        "options": {}
      },
      "id": "79f39478-c98e-4ee6-b116-bb6d1563eb95",
      "name": "Get Facebook Pages",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        140,
        -20
      ]
    },
    {
      "parameters": {
        "functionCode": "return items[0].json.data.map(page => ({\n  json: {\n    fb_page_id: page.id,\n    fb_page_name: page.name,\n    fb_access_token: page.access_token\n  }\n}));"
      },
      "id": "b707b6f2-483d-4d65-9b00-820b954b29bc",
      "name": "Format Facebook Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        360,
        -20
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "table": {
          "__rl": true,
          "value": "facebook_pages",
          "mode": "list",
          "cachedResultName": "facebook_pages"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "fb_page_id",
        "valueToMatchOn": "={{ $json.fb_page_id }}",
        "valuesToSend": {
          "values": [
            {
              "column": "property_name",
              "value": "={{ $json.fb_page_name }}"
            },
            {
              "column": "fb_access_token",
              "value": "={{ $json.fb_access_token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        600,
        -20
      ],
      "id": "f904afb0-4e1e-4fe9-89f8-bf8de57b41f1",
      "name": "MySQL",
      "credentials": {
        "mySql": {
          "id": "OUIfR0k9k0YXHa0V",
          "name": "Blazedata Hostinger"
        }
      }
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v20.0/oauth/EAAODZBoQvnEABO8UQyMvDYhcaiC7RacSev7WrXlOFO8E2PisPLUsuVjypTpZATtchEyM5KTIgEDInz90Sd6FH66lAAGmy4E8V4pSezBWg9de97Wz0tjGCT329cnYhGI9xfiIE8llJErUxZB4nxYZCZCW8ELAeAfrE49QjNfzV7SjIxxp9WFneI09u8vg97O4nyuoqe1hIH63NxbZAcxGkJZC06360U0bnMZD",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -700,
        -40
      ],
      "id": "cda71f99-7aaa-4c53-9726-392eb242c1d2",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-02-09T15:39:34.000Z",
  "versionId": "8898c6f4-740c-4f18-aed5-32ed7aa8c316"
}