workflows/Featured Listing on Wordpress Auth Works.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "MySQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "MySQL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron Trigger": {
      "main": [
        [
          {
            "node": "MySQL Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL Query": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2025-01-15T17:09:35.727Z",
  "id": "T5Ts31LnYzMDNXsq",
  "meta": null,
  "name": "Featured Listing on Wordpress Auth Works",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1900,
        -1680
      ],
      "id": "02842a32-a28f-4ff4-af4e-2b17cbe962d5",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    property_name, \n    unit_name, \n    bedrooms, \n    bathrooms, \n    advertised_rent, \n    marketing_title, \n    marketing_description, \n    sqft, \n    application_fee, \n    rentable_uid, \n    unit_address, \n    appliances, \n    utilities, \n    property_link, \n    image_link\nFROM advertising_list\nWHERE marketing_title LIKE '%Featured%';\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -1680,
        -1680
      ],
      "id": "cb3a0c9a-07a5-430f-96fb-4624004fb67e",
      "name": "MySQL",
      "credentials": {
        "mySql": {
          "id": "OUIfR0k9k0YXHa0V",
          "name": "Blazedata Hostinger"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://blazeproperty.com/wp-json/custom/v1/featured-property",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"property_name\": \"={{$json['property_name']}}\",\n  \"advertised_rent\": \"={{$json['advertised_rent']}}\",\n  \"bedrooms\": \"={{$json['bedrooms']}}\",\n  \"bathrooms\": \"={{$json['bathrooms']}}\",\n  \"sqft\": \"={{$json['sqft']}}\",\n  \"description\": \"={{$json['description']}}\",\n  \"application_fee\": \"={{$json['application_fee']}}\",\n  \"unit_address\": \"={{$json['unit_address']}}\",\n  \"appliances\": \"={{$json['appliances']}}\",\n  \"utilities\": \"={{$json['utilities']}}\",\n  \"property_link\": \"={{$json['property_link']}}\",\n  \"image_link\": \"={{$json['image_link']}}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1460,
        -1680
      ],
      "id": "2ba85b35-e2dd-4b63-b2aa-78335a2b0d1e",
      "name": "HTTP Request",
      "credentials": {
        "wordpressApi": {
          "id": "vP3mdg084tWAWqK7",
          "name": "Wordpress account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0eafe835-6a3f-4f5e-85a9-4e95eb80d381",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1240,
        -1680
      ],
      "id": "ec4df0d9-477c-4774-8701-87ffc8f78aef",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://blazeproperty.com/wp-json/acf/v3/featured-property/{{$json[\"id\"]}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"fields\": {\n    \"property_name\": \"={{ $('MySQL').item.json.property_name }}\",\n    \"advertised_rent\": \"={{ $('MySQL').item.json.advertised_rent }}\",\n    \"bedrooms\": \"={{ $('MySQL').item.json.bedrooms }}\",\n    \"bathrooms\": \"={{ $('MySQL').item.json.bathrooms }}\",\n    \"marketing_title\": \"={{ $('MySQL').item.json.marketing_title }}\",\n    \"sqft\": \"={{ $('MySQL').item.json.sqft }}\",\n    \"application_fee\": \"={{ $('MySQL').item.json.application_fee }}\",\n    \"unit_address\": \"={{ $('MySQL').item.json.unit_address }}\",\n    \"property_link\": \"={{ $('MySQL').item.json.property_link }}\",\n    \"image_link\": \"={{ $('MySQL').item.json.image_link }}\",\n    \"marketing_description\": \"={{ $('MySQL').item.json.marketing_description }}\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1020,
        -1680
      ],
      "id": "85bd0066-c319-47ca-84ee-62380ae551a1",
      "name": "HTTP Request1",
      "credentials": {
        "wordpressApi": {
          "id": "vP3mdg084tWAWqK7",
          "name": "Wordpress account 2"
        }
      }
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 0
            }
          ]
        }
      },
      "name": "Cron Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -1980,
        -1260
      ],
      "id": "93a9db78-85f4-41e7-980e-ec5403b4bf7d"
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "name": "MySQL Query",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [
        -1780,
        -1260
      ],
      "id": "fd70a50d-bfc3-43c2-b9fe-da7e6266d659",
      "credentials": {
        "mySql": {
          "id": "Xxc3vEv88ziQDQCM",
          "name": "Hostinger Blazeproperty"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "table": {
          "__rl": true,
          "value": "wp_featured_property",
          "mode": "list",
          "cachedResultName": "wp_featured_property"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -1260,
        -1400
      ],
      "id": "02cd4b42-bc6c-40d4-ae37-a6daa4328d82",
      "name": "MySQL1",
      "credentials": {
        "mySql": {
          "id": "Xxc3vEv88ziQDQCM",
          "name": "Hostinger Blazeproperty"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-17T13:41:29.000Z",
  "versionId": "26ea8bba-2e5e-4029-8aa2-b98c09944418"
}