workflows/Generate Post.json
{
  "active": false,
  "connections": {
    "Store Query Results": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Query Results1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL Query": {
      "main": [
        [
          {
            "node": "Store Query Results1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Store Query Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Format JSON Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format JSON Response": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "SQL Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-11-06T22:51:12.375Z",
  "id": "7xli8r8xdcNtYroH",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Generate Post",
  "nodes": [
    {
      "parameters": {
        "functionCode": "return {\n    json: {\n        propertyData: $node[\"SQL Query\"].json\n    }\n};"
      },
      "name": "Store Query Results",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        240,
        240
      ],
      "id": "1273e2bb-9528-4a71-b383-c83760ef7507"
    },
    {
      "parameters": {
        "resource": "assistant",
        "assistantId": {
          "__rl": true,
          "value": "asst_H5sZCPDj3ILtC5dA6oUg9xYZ",
          "mode": "list",
          "cachedResultName": "Blaze n8n Assistannt"
        },
        "prompt": "define",
        "text": "=Create a property description from the following information.  {{ $json.propertyData.property_name }}, {{ $json.propertyData.advertised_rent }}, {{ $json.propertyData.bedrooms }}, {{ $json.propertyData.bathrooms }}, {{ $json.propertyData.marketing_description }}, {{ $json.propertyData.appliances }}. Add a touch of warmth and style, highlight key features, describe primary bedroom with flair, plya up practicality with wit, Close with a strong call to action. Respond with output only. \n\n",
        "options": {}
      },
      "id": "8599367e-2738-47d0-8179-a481d70803bb",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        460,
        240
      ],
      "credentials": {
        "openAiApi": {
          "id": "Navm9hDUnjwpRcbB",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "return {\n    json: {\n        propertyData: $node[\"SQL Query\"].json\n    }\n};"
      },
      "name": "Store Query Results1",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        240,
        600
      ],
      "id": "782bccf0-8d02-4a19-b663-a557921c3f6e"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "da4b48b4-5a30-4370-be83-21d52fcf1c78",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        420
      ],
      "webhookId": "53257a1a-cdf9-4c99-b958-34e3ddc6bbe6"
    },
    {
      "parameters": {
        "functionCode": "// Access data directly from the Merge node output\nconst data = $input.item.json;\n\n// Retrieve property data and AI-enhanced description directly from available JSON\nconst propertyData = data.propertyData || {};\nconst aiEnhancedDescription = data.output || \"Contact us for more details!\";\n\n// Construct the response text using only available fields\nconst responseText = `\n🔑 **Property Highlight**: ${propertyData.marketing_description || \"Property Coming Soon!\"}\n\n💰 **Rent**: $${propertyData.advertised_rent || \"N/A\"} per month\n🛏 **Bedrooms**: ${propertyData.bedrooms || \"N/A\"}\n🛁 **Bathrooms**: ${propertyData.bathrooms || \"N/A\"}\n📏 **Square Footage**: ${propertyData.sqft || \"Not specified\"}\n\n📍 **Location**: ${propertyData.unit_address || \"Address not available\"}\n\n---\n\n${aiEnhancedDescription}\n\n---\n\n🍽 **Appliances Included**: ${propertyData.appliances || \"Not specified\"}\n\n📲 **Application Fee**: $${propertyData.application_fee || \"N/A\"}\n🔒 **Default Deposit**: $${propertyData.default_deposit || \"N/A\"}\n`;\n\n// Return the formatted response text back to the originating webhook\nreturn {\n    json: {\n        postText: responseText\n    }\n};\n"
      },
      "name": "Format JSON Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1000,
        500
      ],
      "id": "bfcb0c0c-6cad-4753-aa22-ff63eb9cc1a1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT marketing_description, bedrooms, bathrooms, advertised_rent, application_fee, sqft, unit_address, default_deposit, appliances\nFROM all_rental_properties \nWHERE unit_name = '{{ $json[\"body\"][\"unit_name\"] }}';\n"
      },
      "name": "SQL Query",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [
        -40,
        340
      ],
      "id": "93d42cf3-00c9-4ecd-8007-b02e7174a103",
      "credentials": {
        "mySql": {
          "id": "OUIfR0k9k0YXHa0V",
          "name": "a2 blazedata mySQL"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "474f41d8-d015-4442-a6af-057f4fdcd211",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        760,
        500
      ]
    },
    {
      "parameters": {
        "fromEmail": "reports@blzres.com",
        "toEmail": "brandon@blazeproperty.com",
        "subject": "Your Facebook Post Text",
        "html": "=Property Information for Copy-Paste<br><br>\n<strong>🔑 Property Highlight</strong><br>\n{{ $json.marketing_description || \"Property Coming Soon!\" }}<br><br>\n<strong>💰 Rent:</strong> ${{ $json.advertised_rent || \"N/A\" }} per month<br>\n<strong>🛏 Bedrooms:</strong> {{ $json.bedrooms || \"N/A\" }}<br>\n<strong>🛁 Bathrooms:</strong> {{ $json.bathrooms || \"N/A\" }}<br>\n<strong>📏 Square Footage:</strong> {{ $json.sqft || \"Not specified\" }}<br><br>\n<strong>📍 Location:</strong> {{ $json.unit_address || \"Address not available\" }}<br><br>\n--- <br><br>\n<strong>Description</strong><br>\n{{ $json.output || \"Contact us for more details!\" }}<br><br>\n---<br><br>\n<strong>🍽 Appliances Included</strong><br>\n{{ $json.appliances || \"Not specified\" }}<br><br>\n<strong>📲 Application Fee:</strong> ${{ $json.application_fee || \"N/A\" }}<br>\n<strong>🔒 Default Deposit:</strong> ${{ $json.default_deposit || \"N/A\" }}<br>\n",
        "options": {}
      },
      "id": "37070650-1485-44f8-8877-91237ef74c98",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1220,
        500
      ],
      "credentials": {
        "smtp": {
          "id": "CT7TQcD1DuyTHPFu",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "44a8e64e-20d4-4d18-a37e-b99634fa9fb7",
        "options": {
          "rawBody": false
        }
      },
      "id": "b909d5d7-3c3e-4fa4-87da-07abd7e33903",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -240,
        340
      ],
      "webhookId": "44a8e64e-20d4-4d18-a37e-b99634fa9fb7"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.blzres.com",
            "user-agent": "WordPress/6.6.2; https://blzres.com",
            "content-length": "29",
            "accept": "*/*",
            "accept-encoding": "deflate, gzip",
            "content-type": "application/json; charset=UTF-8",
            "x-forwarded-for": "68.66.224.54",
            "x-forwarded-host": "n8n.blzres.com",
            "x-forwarded-proto": "https"
          },
          "params": {},
          "query": {},
          "body": {
            "unit_name": "9207 Rockwood"
          },
          "webhookUrl": "https://n8n.blzres.com/webhook-test/44a8e64e-20d4-4d18-a37e-b99634fa9fb7",
          "executionMode": "test"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-11-07T17:51:26.000Z",
  "versionId": "a8fe81ab-4fdd-492d-8412-b2f6a799458a"
}