workflows/Generate Post.json
{
  "active": true,
  "connections": {
    "Store Query Results": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Query Results1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "SQL Query": {
      "main": [
        [
          {
            "node": "Store Query Results1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Store Query Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Format JSON Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format JSON Response": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "SQL Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-11-06T22:51:12.375Z",
  "id": "7xli8r8xdcNtYroH",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Generate Post",
  "nodes": [
    {
      "parameters": {
        "functionCode": "return {\n    json: {\n        propertyData: $node[\"SQL Query\"].json\n    }\n};"
      },
      "name": "Store Query Results",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        240,
        240
      ],
      "id": "1273e2bb-9528-4a71-b383-c83760ef7507"
    },
    {
      "parameters": {
        "resource": "assistant",
        "assistantId": {
          "__rl": true,
          "value": "asst_H5sZCPDj3ILtC5dA6oUg9xYZ",
          "mode": "list",
          "cachedResultName": "Blaze n8n Assistannt"
        },
        "prompt": "define",
        "text": "=Create a property description from the following information.  {{ $json.propertyData.property_name }}, {{ $json.propertyData.advertised_rent }}, {{ $json.propertyData.bedrooms }}, {{ $json.propertyData.bathrooms }}, {{ $json.propertyData.marketing_description }}, {{ $json.propertyData.appliances }}. Add a touch of warmth and style, highlight key features, describe primary bedroom with flair, plya up practicality with wit, Close with a strong call to action. Respond with output only. \n\n",
        "options": {}
      },
      "id": "8599367e-2738-47d0-8179-a481d70803bb",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        460,
        240
      ],
      "credentials": {
        "openAiApi": {
          "id": "Navm9hDUnjwpRcbB",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "return {\n    json: {\n        propertyData: $node[\"SQL Query\"].json\n    }\n};"
      },
      "name": "Store Query Results1",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        240,
        600
      ],
      "id": "782bccf0-8d02-4a19-b663-a557921c3f6e"
    },
    {
      "parameters": {
        "functionCode": "// Access data directly from the Merge node output\nconst data = $input.item.json;\n\n// Retrieve property data and AI-enhanced description directly from available JSON\nconst propertyData = data.propertyData || {};\nconst aiEnhancedDescription = data.output || \"Contact us for more details!\";\n\n// Construct the response text using only available fields\nconst responseText = `\n🔑 **Property Highlight**: ${propertyData.marketing_description || \"Property Coming Soon!\"}\n\n💰 **Rent**: $${propertyData.advertised_rent || \"N/A\"} per month\n🛏 **Bedrooms**: ${propertyData.bedrooms || \"N/A\"}\n🛁 **Bathrooms**: ${propertyData.bathrooms || \"N/A\"}\n📏 **Square Footage**: ${propertyData.sqft || \"Not specified\"}\n\n📍 **Location**: ${propertyData.unit_address || \"Address not available\"}\n\n---\n\n${aiEnhancedDescription}\n\n---\n\n🍽 **Appliances Included**: ${propertyData.appliances || \"Not specified\"}\n\n📲 **Application Fee**: $${propertyData.application_fee || \"N/A\"}\n🔒 **Default Deposit**: $${propertyData.default_deposit || \"N/A\"}\n`;\n\n// Return the formatted response text back to the originating webhook\nreturn {\n    json: {\n        postText: responseText\n    }\n};\n"
      },
      "name": "Format JSON Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1000,
        500
      ],
      "id": "bfcb0c0c-6cad-4753-aa22-ff63eb9cc1a1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT marketing_description, bedrooms, bathrooms, advertised_rent, application_fee, sqft, unit_address, default_deposit, appliances, property_link\nFROM all_rental_properties \nWHERE unit_name = '{{ $json[\"body\"][\"unit_name\"] }}';\n"
      },
      "name": "SQL Query",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [
        -40,
        340
      ],
      "id": "93d42cf3-00c9-4ecd-8007-b02e7174a103",
      "credentials": {
        "mySql": {
          "id": "OUIfR0k9k0YXHa0V",
          "name": "Blazedata Hostinger"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "474f41d8-d015-4442-a6af-057f4fdcd211",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        760,
        500
      ]
    },
    {
      "parameters": {
        "fromEmail": "reports@blzres.com",
        "toEmail": "brandon@blazeproperty.com",
        "subject": "Your Facebook Post Text",
        "html": "={{ $json.postText }}\n",
        "options": {}
      },
      "id": "37070650-1485-44f8-8877-91237ef74c98",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1220,
        500
      ],
      "credentials": {
        "smtp": {
          "id": "CT7TQcD1DuyTHPFu",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "22164f2d-b4c0-4044-94ad-6a5aaba85fef",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -260,
        360
      ],
      "id": "7ed6bcaa-c0ac-4cc3-9e57-508852376b63",
      "name": "Webhook",
      "webhookId": "22164f2d-b4c0-4044-94ad-6a5aaba85fef"
    },
    {
      "parameters": {
        "content": "## I'm a note \nneed url for listing"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        860,
        140
      ],
      "id": "c9d1fa3a-da81-40b0-a7f5-58d3dca8787d",
      "name": "Sticky Note"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.blzres.com",
            "user-agent": "WordPress/6.7.1; https://blzres.com",
            "content-length": "28",
            "accept": "*/*",
            "accept-encoding": "deflate, gzip, br",
            "content-type": "application/json; charset=UTF-8",
            "x-forwarded-for": "77.37.94.145",
            "x-forwarded-host": "n8n.blzres.com",
            "x-forwarded-proto": "https"
          },
          "params": {},
          "query": {},
          "body": {
            "unit_name": "7909 Prosper"
          },
          "webhookUrl": "https://n8n.blzres.com/webhook-test/22164f2d-b4c0-4044-94ad-6a5aaba85fef",
          "executionMode": "test"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-01-28T15:04:08.000Z",
  "versionId": "f1d6bb41-3969-4f6b-a6e5-fb062d0dd8a9"
}