workflows/My workflow.json
{
  "active": false,
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Extract Title",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-07-31T12:30:38.134Z",
  "id": "yDnCmUPY4jy32Vbk",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "url": "https://example.com",
        "responseFormat": "string",
        "options": {}
      },
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1020,
        340
      ],
      "id": "03487863-99dd-4032-9b59-757fa691e9e3"
    },
    {
      "parameters": {
        "functionCode": "const cheerio = require('cheerio');\nconst html = $node[\"HTTP Request\"].json[\"body\"];\nconst $ = cheerio.load(html);\nconst title = $('title').text();\nreturn [{ json: { title } }];"
      },
      "name": "Extract Title",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1220,
        340
      ],
      "id": "656fc913-8ac4-423a-af33-5f423e00fccd"
    },
    {
      "parameters": {},
      "id": "ee866a6f-607f-41e6-bc4d-df14fe03c765",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        820,
        360
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-07-31T12:30:38.134Z",
  "versionId": "0c826283-4a95-45c2-bb7c-92368439d08e"
}