workflows/My workflow.json
{
  "active": false,
  "connections": {
    "Email Trigger (IMAP)": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "FTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-08-12T13:09:04.093Z",
  "id": "QkOaic4SNAPYvP31",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "format": "resolved",
        "options": {
          "customEmailConfig": "[\"UNSEEN\"]"
        }
      },
      "id": "f99d0d72-6bd4-42d3-8a27-dec1456e742e",
      "name": "Email Trigger (IMAP)",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [
        600,
        360
      ],
      "credentials": {
        "imap": {
          "id": "jiJskG7OLUbWOE4M",
          "name": "Reports IMAP account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.headers.subject }}",
                    "rightValue": "Courtyard Pampa Daily Delinquency",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "97b45473-176e-4ebc-b2aa-f71ca18fd693",
                    "leftValue": "={{ $json.headers.subject }}",
                    "rightValue": "Cross Keys Daily Delinquency",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "f06db94d-f9c0-4d4c-92f6-f8fea21a6948",
                    "leftValue": "{{ $json.headers.subject }}",
                    "rightValue": "RiverEdge Daily Delinquency",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "c09ad83a-ee52-44fa-8707-3d7b6deb02a9",
                    "leftValue": "{{ $json.headers.subject }}",
                    "rightValue": "Adobe Trail Daily Delinquency",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "1510e363-0f48-4f7d-8dc7-55d9cc95965d",
                    "leftValue": "{{ $json.headers.subject }}",
                    "rightValue": "Jefferson Square Daily Delinquency",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "1f1615af-f677-4f9c-acdd-4ed9f9c71a2a",
                    "leftValue": "{{ $json.headers.subject }}",
                    "rightValue": "RiverEdge Daily Delinquency",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "70198a54-3e37-4e9f-822c-0d5e6131dabd",
                    "leftValue": "{{ $json.headers.subject }}",
                    "rightValue": "NorthPark Daily Delinquency",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "1c7af5f3-1b09-4f6d-9f0f-a18b153b97ab",
                    "leftValue": "{{ $json.headers.subject }}",
                    "rightValue": "Oak Terrace Daily Delinquency",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "13a5b5e2-c0e2-4ea4-9bf3-1eccb1f9e725",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        820,
        320
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10369723-cc55-48db-92dc-cee042432a12",
              "name": "property",
              "value": "Courtyard",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "5cf98a3f-f05b-42f1-b23b-15d53683c8da",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1100,
        320
      ]
    },
    {
      "parameters": {
        "operation": "upload",
        "path": "=data.blzres.com/data/{{ $json.property }}-delinquency.csv",
        "binaryPropertyName": "attachment_0"
      },
      "id": "a8376721-8a38-4d53-a914-eb2224002377",
      "name": "FTP",
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        1320,
        320
      ],
      "credentials": {
        "ftp": {
          "id": "87ZwJT7N7b5rycj4",
          "name": "FTP account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-08-12T13:16:06.000Z",
  "versionId": "9ab61bff-a0f8-4cf2-94b6-1fc860ad12f2"
}