workflows/My workflow 8.json
{
  "active": false,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "SQL Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL Query": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-12-09T20:15:23.457Z",
  "id": "iilwgB0xTIAjt5oW",
  "meta": null,
  "name": "My workflow 8",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "form-response",
        "responseMode": "lastNode",
        "options": {
          "rawBody": false
        }
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -460,
        -80
      ],
      "id": "6e0cc261-8269-429d-b6bb-c3660ed034ec",
      "webhookId": "232796c5-e5c2-45c4-86ec-57d80cb88692"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT marketing_description, bedrooms, bathrooms, advertised_rent, application_fee, sqft, unit_address, default_deposit, appliances, property_link FROM all_rental_properties WHERE unit_name = '{{ $json[\"body\"][\"unit_name\"] }}';"
      },
      "name": "SQL Query",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [
        -180,
        0
      ],
      "id": "9bd97a55-4c14-4237-b0c2-0b21cc63b04f",
      "credentials": {
        "mySql": {
          "id": "OUIfR0k9k0YXHa0V",
          "name": "a2 blazedata mySQL"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const sqlData = $node[\"SQL Query\"].json[0] || {};\n\nreturn {\n    json: {\n        response: `\n        <strong>Property Highlight</strong><br>\n        🔑 ${sqlData.marketing_description || \"Coming Soon!\"}<br><br>\n        💰 Rent: $${sqlData.advertised_rent || \"N/A\"} per month<br>\n        🛏 Bedrooms: ${sqlData.bedrooms || \"N/A\"}<br>\n        🛁 Bathrooms: ${sqlData.bathrooms || \"N/A\"}<br>\n        📏 Square Footage: ${sqlData.sqft || \"Not specified\"}<br><br>\n        📍 Location: ${sqlData.unit_address || \"Address not available\"}<br><br>\n        🍽 Appliances Included: ${sqlData.appliances || \"Not specified\"}<br>\n        📲 Application Fee: $${sqlData.application_fee || \"N/A\"}<br>\n        🔒 Default Deposit: $${sqlData.default_deposit || \"N/A\"}<br><br>\n        🌐 <a href=\"${sqlData.property_link || \"#\"}\">View Property</a>`\n    }\n};"
      },
      "name": "Format Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        40,
        0
      ],
      "id": "05e7bcec-ed60-4451-af7b-1c4b1bbfde4e"
    },
    {
      "parameters": {},
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.webhookResponse",
      "typeVersion": 1,
      "position": [
        260,
        0
      ],
      "id": "5c82deef-b246-4454-a63c-073fbbe4dbab"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "form_response",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -420,
        140
      ],
      "id": "724254ae-5cf0-4aad-8d53-4d6c3b932a41",
      "name": "Webhook1",
      "webhookId": "ca417b2f-39e1-4841-9b0f-4d44f0fbf72b"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-12-09T20:15:23.457Z",
  "versionId": "3c58ad50-4956-4c09-8e46-6037abf30db9"
}