workflows/mysql to tweet.json
{
  "active": false,
  "connections": {
    "MySQL Node": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Node": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "MySQL Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "X",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "X": {
      "main": [
        [
          {
            "node": "Wait Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-07-24T12:05:43.882Z",
  "id": "neH6tfFTyzmIgMIF",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "mysql to tweet",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT property_name, advertised_rent, marketing_description, rentable_uid, image_url FROM properties"
      },
      "id": "ec690465-512a-46a0-beb6-ce0f8b690032",
      "type": "n8n-nodes-base.mySql",
      "name": "MySQL Node",
      "typeVersion": 1,
      "position": [
        660,
        540
      ],
      "credentials": {
        "mySql": {
          "id": "Cxxv6w2tRXt2wyu4",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {},
      "id": "ddbbe2ea-c6c8-4de5-8556-21be9bff72e3",
      "type": "n8n-nodes-base.wait",
      "name": "Wait Node",
      "typeVersion": 1,
      "position": [
        1660,
        540
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "05f13f29-8704-49fe-8df2-19eb1bf20bb1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        820,
        360
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM `properties`",
        "options": {}
      },
      "id": "f66834b2-ac8a-459c-8506-0eb337c1234e",
      "type": "n8n-nodes-base.mySql",
      "position": [
        1140,
        280
      ],
      "name": "MySQL Query",
      "credentials": {
        "mySql": {
          "id": "Cxxv6w2tRXt2wyu4",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Use the following text about a property for lease with Blaze Real Estate to make a humorous tweet. Humor level high. Hashtags and emojis are encouraged. Text:  {{ $json.marketing_description }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5102a817-be6f-40a0-aecf-b9e91e321ec0",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.3,
      "position": [
        920,
        540
      ],
      "credentials": {
        "openAiApi": {
          "id": "Navm9hDUnjwpRcbB",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "additionalFields": {}
      },
      "id": "505c98d1-422d-4eb8-a517-f66467c78e1c",
      "name": "X",
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        1360,
        540
      ],
      "credentials": {
        "twitterOAuth2Api": {
          "id": "hKOdSPH52LqHwyeH",
          "name": "X account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-07-24T14:39:43.000Z",
  "versionId": "195d2be8-8a29-4a4b-80f2-f3d093727514"
}