workflows/n8n workflows by name and id.json
{
  "active": true,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-01-28T16:43:33.605Z",
  "id": "X8kTHWDPuahami6u",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "n8n workflows by name and id",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1700,
        -20
      ],
      "id": "1c5b4e15-1c7f-4a04-a310-4d59b4f5084e",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -1480,
        -20
      ],
      "id": "6953f391-4d99-4205-afb0-24598e6e6630",
      "name": "n8n",
      "credentials": {
        "n8nApi": {
          "id": "UjH1vFHaVrXZkoWc",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f01e8253-5ba5-4626-aedb-eeebb8180e14",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "a5351887-dcce-4100-90ab-0743225f1656",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "9269f30b-ddcf-4cb8-bbc4-3ffa1a27d7ea",
              "name": "nodes",
              "value": "={{ $json.nodes }}",
              "type": "string"
            },
            {
              "id": "7ede9c90-6ff8-42f3-9065-31afd48c6592",
              "name": "connections",
              "value": "={{ $json.connections }}",
              "type": "string"
            },
            {
              "id": "62ecbbbf-f567-4d73-9d8f-b988cf8fbdce",
              "name": "settings",
              "value": "={{ $json.settings }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1280,
        -20
      ],
      "id": "ba9b6771-ffe5-4053-80bf-f5d685d95462",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1YBeQNBEweqGtICDu7tv-qYRnDgc-pw39ZJ1sVXQfNMo",
          "mode": "list",
          "cachedResultName": "n8n WorkFlow IDs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YBeQNBEweqGtICDu7tv-qYRnDgc-pw39ZJ1sVXQfNMo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 474493273,
          "mode": "list",
          "cachedResultName": "n8n-sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YBeQNBEweqGtICDu7tv-qYRnDgc-pw39ZJ1sVXQfNMo/edit#gid=474493273"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Edit Fields').item.json.id }}",
            "name": "={{ $('Edit Fields').item.json.name }}",
            "description": "={{ $json.output }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "RAW"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -480,
        -20
      ],
      "id": "f86afc23-1a47-4ac2-b4bb-11ec25f8c3cc",
      "name": "Google Sheets2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OPTs28HKagi0JBEs",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert in n8n workflows. Use the data provided to create a new description of what the workflow intends to accomplish. \ncurrent name: {{ $json.name }}\nid: {{ $json.id }}\nnodes: {{ $json.nodes }}\nconnections: {{ $json.connections }}\nsettings: {{ $json.settings }}\n\noutput the following fields in json format\nnew_name\nid\ndescription\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -840,
        -20
      ],
      "id": "6f817f9e-c148-4b20-8419-cadfea9ec414",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.1,
      "position": [
        -860,
        160
      ],
      "id": "954f7e2c-b842-4341-8519-7d7af5c56f0b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Navm9hDUnjwpRcbB",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1060,
        -20
      ],
      "id": "b3e2dc01-da72-4a38-8a69-7a4382e26543",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1YBeQNBEweqGtICDu7tv-qYRnDgc-pw39ZJ1sVXQfNMo",
          "mode": "list",
          "cachedResultName": "n8n WorkFlow IDs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YBeQNBEweqGtICDu7tv-qYRnDgc-pw39ZJ1sVXQfNMo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 474493273,
          "mode": "list",
          "cachedResultName": "n8n-sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YBeQNBEweqGtICDu7tv-qYRnDgc-pw39ZJ1sVXQfNMo/edit#gid=474493273"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Edit Fields').item.json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        -720,
        200
      ],
      "id": "cd98a6a6-971c-4f60-8f4e-95cef947fed4",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OPTs28HKagi0JBEs",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "Etm1h3dHXQYzby5C"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-03-22T11:38:25.000Z",
  "versionId": "99c39b41-c0b4-400f-b172-b477c6fc8f5c"
}