workflows/n8n workflows by name and id.json
{
  "active": true,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-01-28T16:43:33.605Z",
  "id": "X8kTHWDPuahami6u",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "n8n workflows by name and id",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1200,
        -20
      ],
      "id": "1c5b4e15-1c7f-4a04-a310-4d59b4f5084e",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "returnAll": false,
        "filters": {
          "activeWorkflows": true
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -1000,
        -20
      ],
      "id": "6953f391-4d99-4205-afb0-24598e6e6630",
      "name": "n8n",
      "credentials": {
        "n8nApi": {
          "id": "UjH1vFHaVrXZkoWc",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f01e8253-5ba5-4626-aedb-eeebb8180e14",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "a5351887-dcce-4100-90ab-0743225f1656",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -780,
        -20
      ],
      "id": "ba9b6771-ffe5-4053-80bf-f5d685d95462",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1YBeQNBEweqGtICDu7tv-qYRnDgc-pw39ZJ1sVXQfNMo",
          "mode": "list",
          "cachedResultName": "n8n WorkFlow IDs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YBeQNBEweqGtICDu7tv-qYRnDgc-pw39ZJ1sVXQfNMo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YBeQNBEweqGtICDu7tv-qYRnDgc-pw39ZJ1sVXQfNMo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.name }}",
            "ID": "={{ $json.id }}",
            "Last Update": "={{ $today }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Last Update",
              "displayName": "Last Update",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -560,
        -20
      ],
      "id": "5206c049-35de-460b-8d0c-1c89713868ce",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OPTs28HKagi0JBEs",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "Etm1h3dHXQYzby5C"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-01-29T06:00:38.629Z",
  "versionId": "9e3ad95e-2a6e-4465-8c75-b24b0169a32a"
}