workflows/New Advertsing Video FLow.json
{
  "active": false,
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-08-20T12:35:01.636Z",
  "id": "dDIGcE3ce4JhUWlY",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "New Advertsing Video FLow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "15mKmsoAYTYjzzTqZoZETdJYsceIubHuR",
          "mode": "list",
          "cachedResultName": "Advertising Videos",
          "cachedResultUrl": "https://drive.google.com/drive/folders/15mKmsoAYTYjzzTqZoZETdJYsceIubHuR"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "9bc29ad5-4747-49a4-a481-f5f82db83201",
      "name": "Google Drive Trigger",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        420,
        340
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "cer2DAVMEta9v7Fb",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.lastModifyingUser.photoLink }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "93c80d83-0f35-4116-9a2e-aa0bc584f020",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        340
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "cer2DAVMEta9v7Fb",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://blzres.com/wp-json/wp/v2/media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Disposition",
              "value": "=attachment; filename={{ $json.name }}.jpg"
            },
            {
              "name": "Content-Type",
              "value": "image/jpeg"
            }
          ]
        },
        "options": {}
      },
      "id": "440a80de-3f50-4855-b219-ec84d3e4f37c",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        340
      ],
      "credentials": {
        "wordpressApi": {
          "id": "VXzYYztQ5s3nKwus",
          "name": "Wordpress account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-08-20T17:01:29.000Z",
  "versionId": "83694f55-6b1e-4ae9-b2b6-d43a4bc0a2b3"
}