workflows/old - Query Daily Data.json
{
  "active": false,
  "connections": {
    "MySQL - Query Properties": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "MySQL - Query Properties",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-18T10:13:26.842Z",
  "id": "14PzP2sHGUxSRR6x",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "old - Query Daily Data",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  property_id,\n  property_name,\n  total_units,\n  occupied_units,\n  occupancy_rate,\n  projected_occupied_units,\n  projected_occupancy_rate,\n  total_delinquent_rent,\n  total_rent,\n  delinquency_percent,\n  total_guest_cards,\n  active_guest_cards,\n  applications,\n  showings, \n  monthly_received,\n  daily_received,\n  delinquency_percent_receivable,\n  delinquency_percent_rent_only,\n  vacant_rented_count,\n  vacant_unrented_count,\n  notice_rented_count,\n  notice_unrented_count,\n  vacant_unrented_json,\n  vacant_rented_json  \nFROM daily_data\nWHERE property_id IN (579, 580);\n",
        "options": {}
      },
      "id": "25dbfc02-dfa7-49d2-903f-c4ca42d5ef8d",
      "name": "MySQL - Query Properties",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2,
      "position": [
        -40,
        -20
      ],
      "credentials": {
        "mySql": {
          "id": "OUIfR0k9k0YXHa0V",
          "name": "Blazedata Hostinger"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1_b7ux8fStn6oEE450GF4YHxYdOwkii7_M4nc77TfsKI",
          "mode": "list",
          "cachedResultName": "Sample Blaze Reporting",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_b7ux8fStn6oEE450GF4YHxYdOwkii7_M4nc77TfsKI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 410763090,
          "mode": "list",
          "cachedResultName": "Units",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_b7ux8fStn6oEE450GF4YHxYdOwkii7_M4nc77TfsKI/edit#gid=410763090"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "property_id",
              "displayName": "property_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "property_name",
              "displayName": "property_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "unit_number",
              "displayName": "unit_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        840,
        -20
      ],
      "id": "d5d91b9f-3866-4a82-b22d-e5f2e32eb770",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OPTs28HKagi0JBEs",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -260,
        -20
      ],
      "id": "386b44e2-2ed4-4b36-a3ba-c2d224dace84",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "jsCode": "// Ensure input data is available\nif (!items || items.length === 0) {\n    throw new Error(\"No input data found.\");\n}\n\n// Initialize output array\nlet output = [];\n\n// Process each property\nitems.forEach(item => {\n    const propertyID = item.json.property_id;\n    const propertyName = item.json.property_name;\n\n    // Convert JSON arrays to lists\n    const vacantUnrentedUnits = JSON.parse(item.json.vacant_unrented_json || \"[]\");\n    const vacantRentedUnits = JSON.parse(item.json.vacant_rented_json || \"[]\");\n    const noticeUnrentedUnits = JSON.parse(item.json.notice_unrented_json || \"[]\");\n    const noticeRentedUnits = JSON.parse(item.json.notice_rented_json || \"[]\");\n\n    // Push each unit as a new row\n    vacantUnrentedUnits.forEach(unit => {\n        output.push({\n            json: {\n                \"Property ID\": propertyID,\n                \"Property Name\": propertyName,\n                \"Status\": \"Vacant-Unrented\",\n                \"Unit Number\": unit\n            }\n        });\n    });\n\n    vacantRentedUnits.forEach(unit => {\n        output.push({\n            json: {\n                \"Property ID\": propertyID,\n                \"Property Name\": propertyName,\n                \"Status\": \"Vacant-Rented\",\n                \"Unit Number\": unit\n            }\n        });\n    });\n\n    noticeUnrentedUnits.forEach(unit => {\n        output.push({\n            json: {\n                \"Property ID\": propertyID,\n                \"Property Name\": propertyName,\n                \"Status\": \"Notice-Unrented\",\n                \"Unit Number\": unit\n            }\n        });\n    });\n\n    noticeRentedUnits.forEach(unit => {\n        output.push({\n            json: {\n                \"Property ID\": propertyID,\n                \"Property Name\": propertyName,\n                \"Status\": \"Notice-Rented\",\n                \"Unit Number\": unit\n            }\n        });\n    });\n});\n\n// Return formatted unit data for Google Sheets\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        -20
      ],
      "id": "99e06295-6ae2-4940-b72e-95c1f649e4dd",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "clear",
        "documentId": {
          "__rl": true,
          "value": "1_b7ux8fStn6oEE450GF4YHxYdOwkii7_M4nc77TfsKI",
          "mode": "list",
          "cachedResultName": "Sample Blaze Reporting",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_b7ux8fStn6oEE450GF4YHxYdOwkii7_M4nc77TfsKI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 410763090,
          "mode": "list",
          "cachedResultName": "Units",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_b7ux8fStn6oEE450GF4YHxYdOwkii7_M4nc77TfsKI/edit#gid=410763090"
        },
        "clear": "specificRange",
        "range": "A2:D"
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        180,
        -20
      ],
      "id": "86ad4a39-7829-4ce7-9d7d-c93052106d0c",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OPTs28HKagi0JBEs",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4c9f0586-64d4-450f-8b03-0df72a73c41a",
              "name": "property_id",
              "value": "={{ $json[\"Property ID\"] }}",
              "type": "number"
            },
            {
              "id": "5a4a0a4a-65e4-42b4-8ce6-8bbdc6d5cf5d",
              "name": "property_name",
              "value": "={{ $json[\"Property Name\"] }}",
              "type": "string"
            },
            {
              "id": "7b68d50b-afe1-4372-9d12-328ca20acf86",
              "name": "status",
              "value": "={{ $json.Status }}",
              "type": "string"
            },
            {
              "id": "9f847fb0-fca4-4500-8adb-c723046b0c96",
              "name": "unit_number",
              "value": "={{ $json[\"Unit Number\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        620,
        -20
      ],
      "id": "4bc2f7e1-4a2b-4fe1-885f-fe055c008cee",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-03-25T11:16:19.000Z",
  "versionId": "294efa0d-def8-47db-9107-d10a26297de2"
}