workflows/Post from Baserow to Jefferson Square FB.json
{
  "active": true,
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Baserow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI2": {
      "main": [
        [
          {
            "node": "Facebook Graph API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Graph API": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baserow": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "OpenAI2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Baserow1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baserow1": {
      "main": [
        [
          {
            "node": "Facebook Graph API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-17T02:13:56.881Z",
  "id": "B67meCBBN3Z2N6Kv",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Post from Baserow to Jefferson Square FB",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d1db1a60-0572-4f37-9148-89f88a42b375",
              "name": "property_name",
              "value": "={{ $json['Property Name'] }}",
              "type": "string"
            },
            {
              "id": "9c456f0c-c98b-4172-a342-75b5720fea6b",
              "name": "advertised_rent",
              "value": "={{ $json['Advertised Rent'] }}",
              "type": "string"
            },
            {
              "id": "4b6deb3b-b4cd-485d-93f5-02102cd5ccf4",
              "name": "marketing_description",
              "value": "={{ $json['Marketing Description'] }}",
              "type": "string"
            },
            {
              "id": "51058094-5ac3-476b-adec-f01fc3eeef9c",
              "name": "property_link",
              "value": "={{ $json.property_link }}",
              "type": "string"
            },
            {
              "id": "846ec8db-3f37-4d6c-adee-6b706218ab16",
              "name": "image_link",
              "value": "={{ $json.Image_link }}",
              "type": "string"
            },
            {
              "id": "f08b8595-411d-4d9c-9651-f1bb209e5693",
              "name": "property_link",
              "value": "={{ $json.property_link }}",
              "type": "string"
            },
            {
              "id": "7d8661ff-20ba-48b4-be7a-54e974814c52",
              "name": "unit",
              "value": "={{ $json[\"Unit Name\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "832595a7-e642-4a7a-8709-6f80a42f796f",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -40,
        415
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "f962963c-7e9d-4fe2-8283-c02b8288c350",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -700,
        315
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=Use the following text about a unit for lease at Jeffersion Square Apartments to make a humorous post. Humor level high. Emojis are encouraged. Do not reference or suggest amenities that are not explicitly stated in the original text. Include office phone number 325 999 7701. {{ $json.marketing_description }}\n"
            }
          ]
        },
        "simplify": false,
        "jsonOutput": true,
        "options": {}
      },
      "id": "58d34296-6e8c-4e2d-9236-6186e649d5ef",
      "name": "OpenAI2",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.3,
      "position": [
        400,
        240
      ],
      "credentials": {
        "openAiApi": {
          "id": "Navm9hDUnjwpRcbB",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v20.0",
        "node": "/627370817126373",
        "edge": "photos",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "=message",
                "value": "={{ $json.choices[0].message.content.post }}  {{ $('Edit Fields').item.json.property_link }}"
              },
              {
                "name": "url",
                "value": "={{ $('Edit Fields').item.json.image_link }}"
              }
            ]
          }
        }
      },
      "id": "fcdc0bf8-5649-4249-b32f-16ba2d39b913",
      "name": "Facebook Graph API",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        776,
        415
      ],
      "credentials": {
        "facebookGraphApi": {
          "id": "2zyO6XYYA2pMXDXX",
          "name": "Jefferson FB Graph"
        }
      }
    },
    {
      "parameters": {
        "databaseId": 130,
        "tableId": 694,
        "returnAll": true,
        "additionalOptions": {
          "filters": {
            "fields": [
              {
                "field": 7100,
                "value": "Yes"
              },
              {
                "field": 7089,
                "operator": "contains",
                "value": "Jefferson"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        -480,
        315
      ],
      "id": "fe361051-c280-4e37-a3c2-05c172ff29b8",
      "name": "Baserow",
      "alwaysOutputData": true,
      "credentials": {
        "baserowApi": {
          "id": "5zW4AD0Cpmzo8h8d",
          "name": "Baserow account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cb073357-561f-40f4-840a-95715270e8bf",
              "leftValue": "={{ $json.image_link }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        180,
        340
      ],
      "id": "d6394167-fc73-4ae3-9050-550b95534a24",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "brandon@blazeproperty.com",
        "subject": "Photo Needed",
        "message": "={{ $json.unit }} is missing a photo. \n\nUpload a photo for this is be posted on Facebook. ",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        478,
        440
      ],
      "id": "b52435ae-d8ad-4471-a77e-b98dc5aa6aa4",
      "name": "Gmail",
      "webhookId": "deb56fc7-ce86-46ff-b05a-ee0288d1cbe6",
      "credentials": {
        "gmailOAuth2": {
          "id": "LD5x69eYRRI6cdrn",
          "name": "Gmail account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f6de5811-b98a-4014-8ce4-a35bbe0c4bdb",
              "leftValue": "={{ Object.keys($json).length > 0 }}",
              "rightValue": 0,
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -260,
        315
      ],
      "id": "2b599c86-2fb1-45e4-b8a9-41eed3609706",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "get",
        "databaseId": 172,
        "tableId": 702,
        "rowId": "2"
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        -40,
        140
      ],
      "id": "6124cce1-653c-4409-b234-9e0a2242d3ac",
      "name": "Baserow1",
      "credentials": {
        "baserowApi": {
          "id": "5zW4AD0Cpmzo8h8d",
          "name": "Baserow account"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v20.0",
        "node": "/627370817126373",
        "edge": "photos",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "=message",
                "value": "={{ $json.Description }}"
              },
              {
                "name": "url",
                "value": "={{ $json.photo_link }}"
              }
            ]
          }
        }
      },
      "id": "9d9328fe-50d2-49a0-b53d-c50a85b5b8df",
      "name": "Facebook Graph API1",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        180,
        140
      ],
      "credentials": {
        "facebookGraphApi": {
          "id": "2zyO6XYYA2pMXDXX",
          "name": "Jefferson FB Graph"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "Etm1h3dHXQYzby5C"
  },
  "staticData": {
    "node:Cron 8am": {
      "recurrencyRules": []
    },
    "node:cron 10am": {
      "recurrencyRules": []
    },
    "node:Cron 12": {
      "recurrencyRules": []
    },
    "node:Cron 14": {
      "recurrencyRules": []
    },
    "node:Cron 16": {
      "recurrencyRules": []
    },
    "node:Schedule Trigger": {
      "recurrencyRules": [],
      "recurrenceRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2024-07-27T22:16:08.252Z",
      "updatedAt": "2024-07-27T22:16:08.252Z",
      "id": "Uk7axlMxGS79ju2M",
      "name": "Facebook"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-04-18T14:47:50.000Z",
  "versionId": "2e3fe566-527e-475f-85ec-f0e2cc9daaf7"
}