workflows/Single Family Guest Card Data.json
{
  "active": true,
  "connections": {
    "Guest Cards": {
      "main": [
        [
          {
            "node": "Extract Guest Cards",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Guest Cards": {
      "main": [
        [
          {
            "node": "Parse Guests",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Guests": {
      "main": [
        [
          {
            "node": "Update owner_marketing_summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "Gmail1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail1": {
      "main": [
        [
          {
            "node": "Gmail2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail2": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2025-04-05T15:29:03.430Z",
  "id": "PnSbFRIBLjbPSfeH",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Single Family Guest Card Data",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyWeek",
              "hour": 7,
              "weekday": "0"
            }
          ]
        },
        "simple": false,
        "filters": {
          "q": "rep-guest-owners",
          "readStatus": "unread"
        },
        "options": {
          "dataPropertyAttachmentsPrefixName": "report_",
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -560,
        -160
      ],
      "id": "c99558c1-7c68-4c0d-a1c9-21a6b4dd36d9",
      "name": "Guest Cards",
      "credentials": {
        "gmailOAuth2": {
          "id": "LD5x69eYRRI6cdrn",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function excelToISO(serial) {\n  if (!serial || isNaN(serial)) return null;\n  const date = new Date((serial - 25569) * 86400 * 1000);\n  return date.toISOString().split('T')[0];\n}\n\nfunction excelToWeekEnding(serial) {\n  const iso = excelToISO(serial);\n  if (!iso) return null;\n\n  const date = new Date(iso);\n  const day = date.getUTCDay();\n  const diff = (7 - day) % 7;\n  date.setDate(date.getDate() + diff);\n  return date.toISOString().split(\"T\")[0];\n}\n\nconst summary = {};\nlet skipped = 0;\nlet included = 0;\n\n$input.all().forEach(item => {\n  const row = item.json;\n\n  const propId = parseInt(row[\"Property ID\"]);\n  const source = row[\"Source\"]?.trim() || \"Unattributed\";\n  const weekEnding = excelToWeekEnding(row[\"Last Activity Date\"]);\n\n  if (!propId || !weekEnding) {\n    skipped += 1;\n    return;\n  }\n\n  included += 1;\n\n  const key = `${propId}_${weekEnding}`;\n  if (!summary[key]) {\n    summary[key] = {\n      property_id: propId,\n      week_ending: weekEnding,\n      guest_cards: 0,\n      lead_sources: {}\n    };\n  }\n\n  summary[key].guest_cards += 1;\n  summary[key].lead_sources[source] = (summary[key].lead_sources[source] || 0) + 1;\n});\n\nconsole.log(`Included rows: ${included}`);\nconsole.log(`Skipped rows: ${skipped}`);\n\nreturn Object.values(summary).map(item => ({\n  json: {\n    ...item,\n    lead_sources: JSON.stringify(item.lead_sources)\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        140,
        -160
      ],
      "id": "b1101e7c-06ec-4acf-97a8-19dc03230d6a",
      "name": "Parse Guests"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "report_0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -300,
        -160
      ],
      "id": "4e412b9d-9e1c-4b83-97ff-3396faa4749d",
      "name": "Extract Guest Cards"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO owner_marketing_summary (\n  property_id,\n  week_ending,\n  guest_cards,\n  lead_sources,\n  owner_id,\n  report_date\n)\nVALUES (\n  {{ $json.property_id }},\n  '{{ $json.week_ending }}',\n  {{ $json.guest_cards }},\n  '{{ $json.lead_sources }}',\n  0,\n  '{{ $json.week_ending }}'\n)\nON DUPLICATE KEY UPDATE\n  guest_cards = VALUES(guest_cards),\n  lead_sources = VALUES(lead_sources),\n  updated_at = NOW();\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        380,
        -160
      ],
      "id": "45e6ec45-0ef5-419c-8e0f-cb495f4b2ce1",
      "name": "Update owner_marketing_summary",
      "credentials": {
        "mySql": {
          "id": "OUIfR0k9k0YXHa0V",
          "name": "Blazedata Hostinger"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('Guest Cards').item.json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -80,
        40
      ],
      "id": "03a26cb8-8e17-4196-9986-5a8ff5e8f1da",
      "name": "Gmail",
      "webhookId": "2004bb0a-02e0-462c-a157-06a11b19fb5d",
      "credentials": {
        "gmailOAuth2": {
          "id": "LD5x69eYRRI6cdrn",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "removeLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "INBOX"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        80,
        40
      ],
      "id": "559dae6e-bfc4-4727-9cad-9e00a0a51e0d",
      "name": "Gmail1",
      "webhookId": "117633eb-c394-4d70-a22c-6515c4e3931d",
      "credentials": {
        "gmailOAuth2": {
          "id": "LD5x69eYRRI6cdrn",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "trash",
        "threadId": "={{ $json.threadId }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        240,
        40
      ],
      "id": "6a2e7bb0-81c6-42fc-a7c5-85f650be8948",
      "name": "Gmail2",
      "webhookId": "f85c3a2a-2711-492b-8092-3cd14990a98d",
      "credentials": {
        "gmailOAuth2": {
          "id": "LD5x69eYRRI6cdrn",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "Etm1h3dHXQYzby5C"
  },
  "staticData": {
    "node:Guest Cards": {
      "Guest Cards": {
        "lastTimeChecked": 1744817242,
        "possibleDuplicates": [
          "1962ebc9cc7726c9"
        ]
      }
    }
  },
  "tags": [
    {
      "createdAt": "2025-03-08T13:24:58.615Z",
      "updatedAt": "2025-03-08T13:24:58.615Z",
      "id": "9NBFp5smMq2uf5oA",
      "name": "Email Processing"
    },
    {
      "createdAt": "2024-07-29T13:51:51.785Z",
      "updatedAt": "2024-07-29T13:51:51.785Z",
      "id": "JYvoNb6Xp7LdO4GE",
      "name": "MySQL"
    },
    {
      "createdAt": "2025-04-06T12:19:17.588Z",
      "updatedAt": "2025-04-06T12:19:17.588Z",
      "id": "W05IJGKJx5hczKHB",
      "name": "rep-email-owner"
    },
    {
      "createdAt": "2025-04-06T12:17:13.094Z",
      "updatedAt": "2025-04-06T12:17:13.094Z",
      "id": "YeEleillKvhm73X6",
      "name": "Reports"
    },
    {
      "createdAt": "2025-04-06T12:17:17.452Z",
      "updatedAt": "2025-04-06T12:17:17.452Z",
      "id": "iMY7dbCfswxr2yQJ",
      "name": "Owner"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-04-14T02:06:36.000Z",
  "versionId": "9a741b21-7432-44b8-bc7b-66738b40287f"
}