workflows/Twitter Virtual AI Influencer.json
{
  "active": true,
  "connections": {
    "Trigger posting manually": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify tweet constraints": {
      "main": [
        [
          {
            "node": "Configure your influencer profile",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Post tweet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule posting every 6 hours": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configure your influencer profile": {
      "main": [
        [
          {
            "node": "Generate tweet content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate tweet content": {
      "main": [
        [
          {
            "node": "Verify tweet constraints",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify tweet constraints1": {
      "main": [
        [
          {
            "node": "Configure your influencer profile1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Post tweet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configure your influencer profile1": {
      "main": [
        [
          {
            "node": "Generate tweet content1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate tweet content1": {
      "main": [
        [
          {
            "node": "Verify tweet constraints1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Configure your influencer profile",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Configure your influencer profile1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-08-07T17:44:26.814Z",
  "id": "fK54YpP436X8y5j0",
  "meta": {
    "templateId": "2139",
    "templateCredsSetupCompleted": true
  },
  "name": "Twitter Virtual AI Influencer",
  "nodes": [
    {
      "parameters": {
        "content": "## Scheduled posting \nWrite a tweet every 6 hours and randomize the minutes that it's posted at to make it seem natural.\n",
        "height": 265,
        "width": 389
      },
      "id": "ea9ddb4c-af49-480c-8b73-221b3741069d",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        380,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "text": "={{ $json.message.content.tweet }}",
        "additionalFields": {}
      },
      "id": "9650b047-7d5e-4ed2-948c-d5be77a94b5d",
      "name": "Post tweet",
      "type": "n8n-nodes-base.twitter",
      "position": [
        2400,
        360
      ],
      "typeVersion": 2,
      "credentials": {
        "twitterOAuth2Api": {
          "id": "hKOdSPH52LqHwyeH",
          "name": "X account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6,
              "triggerAtMinute": "={{ Math.floor(Math.random() * 60) }}"
            }
          ]
        }
      },
      "id": "fd7fc941-37de-4f88-87c0-f62ad1ebe2d6",
      "name": "Schedule posting every 6 hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        420,
        340
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {},
      "id": "107fd741-5c17-4cd6-98aa-088bf8df523d",
      "name": "Trigger posting manually",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        480,
        660
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Configure influencer profile \nSet your target niche, writing style, and inspiration.\n",
        "height": 265,
        "width": 389
      },
      "id": "831cd431-56e5-482e-a8a5-e5c5ac078ba4",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        820,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Generate tweet\nGenerate a potentially viral tweet based on your configuration.",
        "height": 265,
        "width": 389
      },
      "id": "791c0be9-6396-4768-ab6b-3ca7fe49fbea",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1260,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Validate tweet\nIf the generated tweet does not meet length constraints, regenerate it.",
        "height": 265,
        "width": 389
      },
      "id": "3b2872cf-38f9-4cfd-befd-ad792219c313",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1700,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Post the tweet\nPost the tweet to your X account.",
        "height": 265,
        "width": 389
      },
      "id": "364310a1-0367-4ce2-a91b-9a9c4d9387a0",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2140,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "0a6ebbb6-4b14-4c7e-9390-215e32921663",
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "leftValue": "={{ $json.message.content.tweet.length }}",
              "rightValue": 280
            }
          ]
        },
        "options": {}
      },
      "id": "c666ba9f-d28d-449b-8e20-65c0150cba5b",
      "name": "Verify tweet constraints",
      "type": "n8n-nodes-base.if",
      "position": [
        1940,
        340
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "content": "## On-demand posting \nWrite a tweet on demand, when you manually run your workflow.\n",
        "height": 265,
        "width": 389
      },
      "id": "9bf25238-98ba-4201-aecc-22be27f095c8",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        380,
        560
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "45268b04-68a1-420f-9ad2-950844d16af1",
              "name": "niche",
              "type": "string",
              "value": "Property Management, you post about property management"
            },
            {
              "id": "d95f4a1c-ab1c-4eca-8732-3d7a087f82d8",
              "name": "style",
              "type": "string",
              "value": "theme: the cute, the bad, the ugly"
            },
            {
              "id": "1ee088f7-7021-48c0-bcb7-d1011eb0db3d",
              "name": "inspiration",
              "type": "string",
              "value": "Your inspiration comes from the many stories on the internet regarding tenant and manager experiences"
            }
          ]
        },
        "options": {}
      },
      "id": "18f1af3a-58b3-4a4d-a8ad-3657da9c41ba",
      "name": "Configure your influencer profile",
      "type": "n8n-nodes-base.set",
      "position": [
        980,
        340
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4-turbo-preview",
          "cachedResultName": "GPT-4-TURBO-PREVIEW"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a successful modern Twitter influencer. Your tweets always go viral. ",
              "role": "system"
            },
            {
              "content": "=You have a specific writing style: {{ $json.style }}",
              "role": "system"
            },
            {
              "content": "=You follow the principles described in your inspiration sources closely and you write your tweets based on that: {{ $json.inspiration }}",
              "role": "system"
            },
            {
              "content": "=You have a very specific niche: {{ $json.niche }}",
              "role": "system"
            },
            {
              "content": "=Answer with the viral tweet and nothing else as a response. Keep the tweet within 280 characters. Current date and time are {{DateTime.now()}}. Add hashtags and emojis where relevant.",
              "role": "system"
            },
            {
              "content": "Write a tweet that is certain to go viral. Take your time in writing it. Think. Use the vast knowledge you have."
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "id": "4b95c041-a70e-42f9-9467-26de2abe6b7a",
      "name": "Generate tweet content",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        1360,
        340
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "Navm9hDUnjwpRcbB",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.message.content.tweet }}",
        "additionalFields": {}
      },
      "id": "2e0ad285-7f1c-4312-8d14-ee0745b6ae27",
      "name": "Post tweet1",
      "type": "n8n-nodes-base.twitter",
      "position": [
        2400,
        720
      ],
      "typeVersion": 2,
      "credentials": {
        "twitterOAuth2Api": {
          "id": "hKOdSPH52LqHwyeH",
          "name": "X account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Generate tweet\nGenerate a potentially viral tweet based on your configuration.",
        "height": 265,
        "width": 389
      },
      "id": "234f46e3-5762-4875-b3e8-4e0d2057b612",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1260,
        600
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Validate tweet\nIf the generated tweet does not meet length constraints, regenerate it.",
        "height": 265,
        "width": 389
      },
      "id": "21b9d1f7-bfd8-4b44-8e79-f9f7f98f993a",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1700,
        600
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Post the tweet\nPost the tweet to your X account.",
        "height": 265,
        "width": 389
      },
      "id": "730cfd0a-55cf-4b38-9599-5536d5dce484",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2160,
        600
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "0a6ebbb6-4b14-4c7e-9390-215e32921663",
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "leftValue": "={{ $json.message.content.tweet.length }}",
              "rightValue": 280
            }
          ]
        },
        "options": {}
      },
      "id": "2b60842b-0f1e-41c6-8d0a-e3384cfaa10b",
      "name": "Verify tweet constraints1",
      "type": "n8n-nodes-base.if",
      "position": [
        1940,
        700
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "45268b04-68a1-420f-9ad2-950844d16af1",
              "name": "niche",
              "type": "string",
              "value": "Property Management, you post about property management"
            },
            {
              "id": "d95f4a1c-ab1c-4eca-8732-3d7a087f82d8",
              "name": "style",
              "type": "string",
              "value": "Business -like "
            },
            {
              "id": "1ee088f7-7021-48c0-bcb7-d1011eb0db3d",
              "name": "inspiration",
              "type": "string",
              "value": "Your inspiration comes from the many stories on the internet regarding tenant and manager experiences"
            }
          ]
        },
        "options": {}
      },
      "id": "cbda1769-ac6e-453f-9ffd-284f52ad75f3",
      "name": "Configure your influencer profile1",
      "type": "n8n-nodes-base.set",
      "position": [
        980,
        700
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4-turbo-preview",
          "cachedResultName": "GPT-4-TURBO-PREVIEW"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a successful modern Twitter influencer. Your tweets always go viral. ",
              "role": "system"
            },
            {
              "content": "=You have a specific writing style: {{ $json.style }}",
              "role": "system"
            },
            {
              "content": "=You follow the principles described in your inspiration sources closely and you write your tweets based on that: {{ $json.inspiration }}",
              "role": "system"
            },
            {
              "content": "=You have a very specific niche: {{ $json.niche }}",
              "role": "system"
            },
            {
              "content": "=Answer with the viral tweet and nothing else as a response. Keep the tweet within 280 characters. Current date and time are {{DateTime.now()}}. Add hashtags and emojis where relevant.",
              "role": "system"
            },
            {
              "content": "Write a tweet that is certain to go viral. Take your time in writing it. Think. Use the vast knowledge you have."
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "id": "ec0f91a8-eab2-4f77-83b4-75e92efd08da",
      "name": "Generate tweet content1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        1360,
        700
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "Navm9hDUnjwpRcbB",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Minute % 2 }}",
                    "rightValue": 0,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Minute % 2 }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "4ca8a9d6-95a7-4415-b022-c973751cb351",
      "name": "Switch1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        760,
        480
      ]
    },
    {
      "parameters": {
        "content": "## Configure influencer profile \nSet your target niche, writing style, and inspiration.\n",
        "height": 265,
        "width": 389
      },
      "id": "aa7f7e3a-c1f8-4b7d-b4c9-2fb347103d7f",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        820,
        600
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": {
    "node:Schedule posting every 6 hours": {
      "recurrenceRules": [
        6
      ]
    }
  },
  "tags": [
    {
      "createdAt": "2024-08-17T11:17:51.060Z",
      "updatedAt": "2024-08-17T11:17:51.060Z",
      "id": "fot1zjuV8JfY8OvN",
      "name": "twitter"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-08-17T11:22:36.000Z",
  "versionId": "ba83fee0-d656-45a9-8e05-28e911615b5e"
}