workflows/Update Mautic - Future Tenants.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "FTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FTP": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Mautic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mautic": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2024-08-21T11:54:09.298Z",
  "id": "R6AuUjHboRSTBUpP",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Update Mautic - Future Tenants",
  "nodes": [
    {
      "parameters": {},
      "id": "0cf92d8a-ab67-499f-8b22-8b0a5fe382db",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        100,
        380
      ]
    },
    {
      "parameters": {
        "path": "data.blzres.com/data/future_tenants.csv"
      },
      "id": "3dc745e2-5e08-4fd3-9045-fbe0637fa764",
      "name": "FTP",
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        320,
        380
      ],
      "credentials": {
        "ftp": {
          "id": "87ZwJT7N7b5rycj4",
          "name": "FTP account"
        }
      }
    },
    {
      "parameters": {
        "operation": "xls",
        "options": {}
      },
      "id": "b8cb3afa-d53b-4b75-b15f-3e7037b6f290",
      "name": "Extract from File",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        540,
        380
      ]
    },
    {
      "parameters": {
        "jsCode": "const convertExcelDateToJSDate = (excelDate) => {\n  if (typeof excelDate !== 'number' || excelDate <= 0) {\n    // Return null if the date code is invalid\n    return null;\n  }\n\n  // Base date is January 1, 1900\n  const baseDate = new Date(1900, 0, 1);\n\n  // Excel incorrectly considers 1900 as a leap year, so adjust by subtracting 1 day for dates after February 28, 1900\n  const adjustedDate = excelDate > 59 ? excelDate - 1 : excelDate;\n\n  // Add the Excel date to the base date\n  baseDate.setDate(baseDate.getDate() + adjustedDate);\n\n  // Check if the resulting date is valid\n  if (isNaN(baseDate.getTime())) {\n    // Return null if the date is invalid\n    return null;\n  }\n\n  // Return the date in the desired format (YYYY-MM-DD)\n  return baseDate.toISOString().split('T')[0];\n};\n\n// Function to format phone numbers as (###) ###-####\nconst formatPhoneNumber = (phone) => {\n  const digits = phone.replace(/\\D/g, ''); // Remove non-numeric characters\n  if (digits.length === 10) {\n    return `(${digits.slice(0, 3)}) ${digits.slice(3, 6)}-${digits.slice(6, 10)}`;\n  }\n  return null; // Return null if the phone number is not in the correct format\n};\n\n// Function to extract the first phone number\nconst extractFirstPhoneNumber = (phoneNumbers) => {\n  if (typeof phoneNumbers !== 'string') {\n    return null; // Return null if the field is undefined or not a string\n  }\n  const phones = phoneNumbers.split(','); // Split multiple phone numbers by comma\n  if (phones.length > 0) {\n    return formatPhoneNumber(phones[0].trim());\n  }\n  return null;\n};\n\n// Function to extract the first email\nconst extractFirstEmail = (emails) => {\n  if (typeof emails !== 'string') {\n    return null; // Return null if the field is undefined or not a string\n  }\n  const emailList = emails.split(','); // Split multiple emails by comma\n  if (emailList.length > 0) {\n    return emailList[0].trim(); // Return the first email\n  }\n  return null;\n};\n\n// State mapping from abbreviation to full name\nconst stateMap = {\n  \"AL\": \"Alabama\",\n  \"AK\": \"Alaska\",\n  \"AZ\": \"Arizona\",\n  \"AR\": \"Arkansas\",\n  \"CA\": \"California\",\n  \"CO\": \"Colorado\",\n  \"CT\": \"Connecticut\",\n  \"DE\": \"Delaware\",\n  \"FL\": \"Florida\",\n  \"GA\": \"Georgia\",\n  \"HI\": \"Hawaii\",\n  \"ID\": \"Idaho\",\n  \"IL\": \"Illinois\",\n  \"IN\": \"Indiana\",\n  \"IA\": \"Iowa\",\n  \"KS\": \"Kansas\",\n  \"KY\": \"Kentucky\",\n  \"LA\": \"Louisiana\",\n  \"ME\": \"Maine\",\n  \"MD\": \"Maryland\",\n  \"MA\": \"Massachusetts\",\n  \"MI\": \"Michigan\",\n  \"MN\": \"Minnesota\",\n  \"MS\": \"Mississippi\",\n  \"MO\": \"Missouri\",\n  \"MT\": \"Montana\",\n  \"NE\": \"Nebraska\",\n  \"NV\": \"Nevada\",\n  \"NH\": \"New Hampshire\",\n  \"NJ\": \"New Jersey\",\n  \"NM\": \"New Mexico\",\n  \"NY\": \"New York\",\n  \"NC\": \"North Carolina\",\n  \"ND\": \"North Dakota\",\n  \"OH\": \"Ohio\",\n  \"OK\": \"Oklahoma\",\n  \"OR\": \"Oregon\",\n  \"PA\": \"Pennsylvania\",\n  \"RI\": \"Rhode Island\",\n  \"SC\": \"South Carolina\",\n  \"SD\": \"South Dakota\",\n  \"TN\": \"Tennessee\",\n  \"TX\": \"Texas\",\n  \"UT\": \"Utah\",\n  \"VT\": \"Vermont\",\n  \"VA\": \"Virginia\",\n  \"WA\": \"Washington\",\n  \"WV\": \"West Virginia\",\n  \"WI\": \"Wisconsin\",\n  \"WY\": \"Wyoming\"\n};\n\n// Function to convert state abbreviations to full names\nconst convertState = (stateAbbreviation) => {\n  if (typeof stateAbbreviation !== 'string') {\n    return stateAbbreviation; // Return the original value if it's not a string\n  }\n  return stateMap[stateAbbreviation.toUpperCase()] || stateAbbreviation; // Return the full name if available, otherwise return the original abbreviation\n};\n\n// Iterate over the items and convert the Excel date codes, extract phone and email, and convert state abbreviations\nconst output = [];\nitems.forEach(item => {\n  const json = item.json;\n\n  // Convert the specific Excel date codes\n  json['Move-in'] = convertExcelDateToJSDate(json['Move-in']);\n  json['Lease To'] = convertExcelDateToJSDate(json['Lease To']);\n  json['Tenant Birthdate'] = convertExcelDateToJSDate(json['Tenant Birthdate']);\n  json['Lease From'] = convertExcelDateToJSDate(json['Lease From']);\n  json['Eligible for Rent Increase'] = convertExcelDateToJSDate(json['Eligible for Rent Increase']);\n\n  // Extract and format the first phone number\n  json['Formatted Phone Number'] = extractFirstPhoneNumber(json['Phone Numbers']);\n\n  // Extract the first email\n  json['First Email'] = extractFirstEmail(json['Emails']);\n\n  // Convert state abbreviations to full names for relevant fields\n  json['Tenant State'] = convertState(json['Tenant State']);\n  json['Property State'] = convertState(json['Property State']);\n\n  // Push the updated JSON object to the output\n  output.push({ json });\n});\n\nreturn output;\n"
      },
      "id": "1a696b46-52b9-4142-a362-ec25c5f67200",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        760,
        380
      ]
    },
    {
      "parameters": {
        "email": "={{ $json[\"First Email\"] }}",
        "firstName": "={{ $json[\"First Name\"] }}",
        "lastName": "={{ $json[\"Last Name\"] }}",
        "company": "Blaze Real Estate PM",
        "additionalFields": {
          "customFieldsUi": {
            "customFieldValues": [
              {
                "fieldId": "phone",
                "fieldValue": "={{ $json[\"Formatted Phone Number\"] }}"
              },
              {
                "fieldId": "address1",
                "fieldValue": "={{ $json[\"Tenant Street Address 1\"] }}"
              },
              {
                "fieldId": "address2",
                "fieldValue": "={{ $json[\"Tenant Street Address 2\"] }}"
              },
              {
                "fieldId": "city",
                "fieldValue": "={{ $json[\"Tenant City\"] }}"
              },
              {
                "fieldId": "state",
                "fieldValue": "={{ $json[\"Tenant State\"] }}"
              },
              {
                "fieldId": "zipcode",
                "fieldValue": "={{ $json[\"Tenant Zip\"] }}"
              },
              {
                "fieldId": "property_name",
                "fieldValue": "={{ $json[\"Property Name\"] }}"
              },
              {
                "fieldId": "unit",
                "fieldValue": "={{ $json.Unit }}"
              },
              {
                "fieldId": "property",
                "fieldValue": "={{ $json.Property }}"
              },
              {
                "fieldId": "birthdate",
                "fieldValue": "={{ $json[\"Tenant Birthdate\"] }}"
              },
              {
                "fieldId": "movein",
                "fieldValue": "={{ $json[\"Move-in\"] }}"
              },
              {
                "fieldId": "lease_start",
                "fieldValue": "={{ $json[\"Lease From\"] }}"
              },
              {
                "fieldId": "lease_end",
                "fieldValue": "={{ $json[\"Lease To\"] }}"
              },
              {
                "fieldId": "primary_tenant",
                "fieldValue": "={{ $json[\"Primary Tenant\"] }}"
              }
            ]
          }
        },
        "options": {}
      },
      "id": "69d42f35-560d-44a4-9263-65cdeaf500a7",
      "name": "Mautic",
      "type": "n8n-nodes-base.mautic",
      "typeVersion": 1,
      "position": [
        980,
        380
      ],
      "credentials": {
        "mauticApi": {
          "id": "QYIHSttrdWeJLrEX",
          "name": "BlzRes Mautic Connection"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-09-07T18:25:35.000Z",
  "versionId": "ae27bd61-e91d-4880-b1b0-4e03400b2b3c"
}