workflows/Update House Video Page with New Videos in Google Drive.json
{
  "active": true,
  "connections": {
    "List Google Drive MP4 Files": {
      "main": [
        [
          {
            "node": "Generate HTML2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wordpress1": {
      "main": [
        [
          {
            "node": "Wordpress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate HTML2": {
      "main": [
        [
          {
            "node": "Wordpress1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "List Google Drive MP4 Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "List Google Drive MP4 Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-08-13T14:50:35.721Z",
  "id": "wO6r0mmw41J6gEk8",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Update House Video Page with New Videos in Google Drive",
  "nodes": [
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "list",
        "useQueryString": true,
        "queryString": "'1Y1yITOS2ZtdKKhyB5V7uBbzrJZFrcxpB' in parents and mimeType = 'video/mp4'",
        "options": {
          "fields": [
            "id",
            "mimeType",
            "webViewLink",
            "thumbnailLink",
            "name",
            "exportLinks"
          ]
        }
      },
      "name": "List Google Drive MP4 Files",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 1,
      "position": [
        660,
        520
      ],
      "id": "3bc50816-7fa1-47cb-8a99-1b9c7871529e",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "cer2DAVMEta9v7Fb",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "page",
        "operation": "update",
        "pageId": "=3394",
        "updateFields": {
          "content": "={{ $('Generate HTML2').item.json.html }}"
        }
      },
      "id": "751197db-e4bf-4dfd-9f40-b99bea05a433",
      "name": "Wordpress",
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        1400,
        520
      ],
      "credentials": {
        "wordpressApi": {
          "id": "VXzYYztQ5s3nKwus",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "resource": "page",
        "operation": "get",
        "pageId": "3394",
        "options": {}
      },
      "id": "a2830685-a118-45fe-82e1-eb49d90b01df",
      "name": "Wordpress1",
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        980,
        520
      ],
      "credentials": {
        "wordpressApi": {
          "id": "VXzYYztQ5s3nKwus",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const items = $input.all();\nlet html = '<div class=\"video-gallery\" style=\"display: flex; flex-wrap: wrap; gap: 16px;\">';\nitems.forEach(item => {\n  const data = item.json;\n  html += `<div class=\"video-item\" style=\"flex: 1 1 calc(25% - 16px); box-sizing: border-box;\">\n    <a href=\"${data.webViewLink}\" target=\"_blank\" style=\"text-decoration: none; color: inherit;\">\n      <img src=\"${data.thumbnailLink}\" alt=\"${data.name}\" style=\"width: 100%; height: auto; display: block;\" />\n      <p style=\"text-align: center; margin-top: 8px;\">${data.name}</p>\n    </a>\n  </div>`;\n});\nhtml += '</div>';\nreturn [{ json: { html } }];"
      },
      "name": "Generate HTML2",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        820,
        520
      ],
      "id": "2eb4e36f-c448-4a6f-9032-ccc9c305e500"
    },
    {
      "parameters": {},
      "id": "48df6419-f1bb-4554-b4fb-2dc5ef016725",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        520,
        220
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {}
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1Y1yITOS2ZtdKKhyB5V7uBbzrJZFrcxpB",
          "mode": "list",
          "cachedResultName": "House Videos",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Y1yITOS2ZtdKKhyB5V7uBbzrJZFrcxpB"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "d299f53b-3ec2-4273-bc26-7ec30935c556",
      "name": "Google Drive Trigger",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        340,
        540
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "cer2DAVMEta9v7Fb",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Google Drive Trigger": {
      "lastTimeChecked": "2024-08-13T16:38:11Z"
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-08-13T16:38:11.000Z",
  "versionId": "69ef1076-e566-43a7-893b-c2eddcf08616"
}